[2021-07-09 10:11] #385 closed

[2021-07-09 11:31] rkodev opened #387 "Patient profile does not display full vaccination profile"
The patient profile does not display all the given vaccines for a fully vaccinated patient

Example of Patient profile for Patient with all vaccines
![Screenshot_1625830238](https://user-images.githubusercontent.com/43806892/125071678-49b7ed80-e0c2-11eb-88cd-0c5584914283.png)

**Expectation**
The patient profile should list all vaccines the patient has received

[2021-07-09 15:12] pld commented on #157
Don't schedules go in the CarePlan?

How do we evaluate generating all tasks from a CarePlan when they're non-event based? Ie if a schedule is time based we need to evaluate it repeatedly to know whether the trigger are satisfied, how often do we do that re-evaluation?

Also, could we pre-generate all the future tasks? Well no, b/c it's time plus current state

[2021-07-09 15:56] ekigamba commented on #184
*StructureMap used to perform extraction*
- This has already been posted to the server but will not be accessible in text on the source code

[code]

[2021-07-09 18:39] maimoonak opened #389 "Risk assessment fixes and enhancments"
Risk assessment feature fixes and enhancements for #196

The feature is implemented but few things are dependent on SDK and FHIRCore features and need to be implemented once these are done
- [ ] update datacapture sdk library to have checkbox, repeat, and other extensions working
- [ ] ResourceMapper does not allow extracting multiple resources from questionnaire (only first class is picked and pa

[2021-07-10 10:43] #196 closed

[2021-07-12 07:28] #387 closed

[2021-07-12 12:46] f-odhiambo opened #393 "Convert FHIR Base url on FHIR browser http://localhost:8080/fhir to https://fhir.labs.smartregister.org/fhir"
Allow the user to be able to browse  and select a given resource pointing to the correct server base URL and not localhost as shown in the screenshot

<img width="1686" alt="Screen Shot 2021-07-12 at 3 20 17 PM" src="https://user-images.githubusercontent.com/4540684/125290077-9a308480-e328-11eb-91c1-4d2f02c2917d.png">

[2021-07-12 13:59] rkodev opened #397 "Date Standardization"
**Is your feature request related to a problem? Please describe.**
When resources are created in the SDK, the device stores at least some dates without a time or timestamp i.e the [Patients BirthDate](https://www.hl7.org/fhir/patient-definitions.html#Patient.birthDate) e.g YYYY-MM-DD.

The current implementation stores the date as is, in local time and timezone information. These dates are also sy

[2021-07-12 14:03] rkodev opened #398 "Update FHIR Core to latest release of Data Capture"
**Name of feature to enhance**
Update the Data Capture library to the latest [version](https://github.com/google/android-fhir/releases/tag/sdc-0.1.0-alpha03)

**NB**
The last release was done from this [PR](https://github.com/google/android-fhir/pull/489)

Might need to follow up on this PR to support the barcode issue. either resolve the issue on that SDK or port the code to FHIR core

[2021-07-12 14:13] f-odhiambo opened #399 "Barcode scanning crashes on search"
**Describe the bug**
The current bar code reader crashes when you try an scan for a patient at the patient list or register a new patient view. The current ID being used is the UUID and not the patient identifier being used for the Barcode ID, thus crashing, no error handling added for this at the moment

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the patient list or register a ne

[2021-07-13 05:42] #146 closed

[2021-07-13 05:43] f-odhiambo opened #400 "[Roadmap] CHW ANC App MVP"
Completion of the CHW ANC app MVP based on

- [x] [Milestone 17](https://github.com/opensrp/fhircore/milestone/17)

[2021-07-13 09:51] syedowaisali90 commented on #397
I think solution 2 is good we can go with [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) @maimoonak what do you think

[2021-07-13 11:06] maimoonak commented on #397
Checking the tables (SyncedResourceEntity, Patient.resource)  in sqlite database I see that sdk already stores timezone info, and the indexes are created on millis timestamp. So for datetime fields there would be no issue, however, the birthdate is a date (date-only) field and can not have timezone https://www.hl7.org/fhir/patient.html. So what we would do for such fields?

{"resourceType":"Patien

[2021-07-13 11:39] syedowaisali90 commented on #397
Thanks @maimoonak for your input. I think we are already complying with the ISO 8601 date format for resources synchronization.
cc: @rkodev

[2021-07-13 12:46] pld commented on #397
If birth dates are dates only, that shouldn't be a problem, we can assume it's the same date in all timezones, I think that's ok since we don't have more information. I don't think we usually record time of birth (@isabelcshaw is that common enough to plan for it now or can we wait until we see this requested?)

[2021-07-13 17:12] isabelcshaw commented on #276
@pld a few thoughts on the need to represent a family as separate from the people in it:

1. The family is the core component of the CHW app and is definitely the core grouping for the user and represented in the UI (register view, family profile view, etc). That being said, it sounds like the UI could pull from another resource.

2. We can already anticipate tasks/activities in the CHW workflow t

[2021-07-13 17:20] pld commented on #276
K thanks, do we have any situations where we register a family that is not associated with a structure?

[2021-07-13 17:29] isabelcshaw commented on #276
@pld not in the CHW workflows. We do in campaign workflows.

Two other notes here: 1. It is possible for families to move. I think the most common example would usually be changing catchments, but if we wanted to maintain any separation of a family's medical history and a structure, that could be challenging. And relatedly 2. LMH hasn't mentioned this yet, but, from experience, it is possible for

[2021-07-13 17:36] isabelcshaw commented on #397
@pld I've never seen a need to record time of birth. For the CHW workflows, we only record a self reported DOB - and, in some cases, age (and estimate a DOB) if they don't know the actual date. Unless I'm misunderstanding this question, I don't see any use case for time of birth unless a future facility/ANC/PNC app requires it, which I think would be rare.

[2021-07-13 17:52] rkodev commented on #397
@ekigamba can you check @maimoonak comment here

[2021-07-13 18:17] pld commented on #276
@isabelcshaw ok thanks, sounds like keeping families separate may not be strictly necessary but if we don't do it we'd have a bunch of pretty ugly workarounds, b/c we'd be overloading the Patient that represents the head-of-household to also represent the family, so if we can support the CarePlan, etc. generation we need off of a resource that's only representing a family (like a Group), we'd be i

[2021-07-13 20:37] mberg commented on #276
@isabelcshaw on this issue it's not related to a family.  Anytime a women of reproductive age is registered in the system we would need to check to see if they are eligible for family planning and generate a care plan if so.

Couple of thought on the above.  I am inclined right now to go with @fredhersch suggestion of having a household be based on creating a head of household and then assigning r

[2021-07-13 20:54] pld commented on #276
Cool, how would that handle the sanitation assessment use case? Would that be a task generated for and assigned to the head of household?

We couldn't tie these to Location since as you mentioned we can have multiple HHs per structure.

To gen for the HH we'd need logic that says only generate these PlanDefinition activities for the head of household, and these would be tied to a Patient (the HH)

[2021-07-13 20:58] pld commented on #276
Francis also brought up whether we should use Person and not Patient here, need to figure that out. Good next step is write out a resource-diagram of a family and how we'd get household and person activities from the people resources.

[2021-07-13 21:06] pld commented on #276
The other important implication of no separate family is no family registration, but we could still build a household list from the people registered as head of household

[2021-07-13 22:42] mberg commented on #276
Couple of follow up thoughts

For the sanitation use case, we would assign the task to the head of household who then would be assigned to a location.  You are probably doing a sanitation assessment at the compound level and not individual structure level anyways. If you want to do per structure you would assign to the sanitation task to the moms (other heads of households).

I don't know about th

[2021-07-13 23:45] pld commented on #276
On the family registration, the UI has a screen that's "register a family" we wouldn't have that screen anymore, we'd have "register a head of household" or something like that which is a (slight?) change in UI/UX.

This all sounds pretty good if we can get away with it, I might be missing something, but from a tech perspective the pro is we don't have to worry about generating things for a Group,

[2021-07-13 23:56] mberg commented on #276
You can still have a UI that says register household and we then just
register a head of household. We sort of do this already in the wcaro app I
believe

On Tue, Jul 13, 2021 at 7:45 PM Peter Lubell-Doughtie <
***@***.***> wrote:

[2021-07-14 00:02] pld commented on #276
That'll work if when registering the members of the household you make users specify whether they're registering a head of household, and if they are instead of creating a new entity they're editing the entity you already created when they registered the household

If you don't do that, or if people don't select that when registering the head of household, you have a patient/person that's the hous

[2021-07-14 06:53] f-odhiambo commented on #276
From the FHIR spec, the resource [Patient](https://www.hl7.org/fhir/patient.html) is used when someone is being used/tracked in a clinical setup. In a non-clinical setup, we could use
1. [Person](https://www.hl7.org/fhir/person.html) (provides a reference set of common demographics for an individual ) could be used to represent someone who is not receiving clinical care. This resource has 1..1 ref

[2021-07-14 11:11] ekigamba commented on #397
@rkodev I think what you proposed should work. Standardizing all dates without timezone to GMT before sharing them i.e.
- On the API
- Client to server upload

I see @pld also suggests that we can assume the dates being OK and disregard any timezone differences where we only have a date

[2021-07-14 11:46] ndegwamartin opened #403 "Refactor extraction to use Resource Mapper in FHIR SDK"
**Refactor to remove resource based extraction**
We have parts of the code base that are using _Manual based resource extraction_. We have _SDC form data extraction_ supported by the FHIR SDK through the `ResourceMapper` class. SDC form data extraction make extraction business logic configurable and shareable

**For this task we need to**

- [x] Rewrite the FHIR patient registration Questionnaire(

[2021-07-14 11:56] pld commented on #397
@ekigamba I think given @maimoonak and @syedowaisali90's comments, and the fact we're already storing tz info, we're leaning towards option (2) in @rkodev's description: store all dates w/tz info in ISO 8601

[2021-07-14 12:04] ekigamba commented on #397
@pld the [Patient.birthDate](https://www.hl7.org/fhir/patient-definitions.html#Patient.birthDate) of type date https://www.hl7.org/fhir/datatypes.html#date does not have timezone per the specification. The Google Android FHIR SDK also saves the date without any timezone information.

I think this will apply for any other Resource property of type `date`. Any inconsistencies will affect any age/dat

[2021-07-14 12:25] f-odhiambo opened #404 "CHW/ANC - Search for Patient Encounters"

[2021-07-14 12:25] f-odhiambo opened #405 "CHW/ANC SubTask - Search for Patient Observations"
- [ ] User can be able to search for different patient observations based on the search parameters defined [here](https://www.hl7.org/fhir/observation.html#search)

To start off we can start by searching observations based on  :
- [ ] Observation.encounter(Encounter)
- [ ] Observation.status
- [ ] Observation.effective (date)
- [ ] Observation.subject(Group, Device, Patient, Location)
- [ ] Observ

[2021-07-14 12:28] pld commented on #397
OK I might be missing something then, if it's a date it wouldn't have a tz to begin with so we wouldn't have to worry about standardization.

If it's a datetime it will include tz info and we can store it.

[2021-07-14 13:12] ekigamba commented on #397
@pld Yea, I think this should be OK

[2021-07-14 13:40] f-odhiambo opened #406 "Create a Patient Encounter"
An [Encounter](https://www.hl7.org/fhir/encounter.html) is an interaction between a patient and healthcare provider(s) for the purpose of providing healthcare service(s) or assessing the health status of a patient. A patient encounter is further characterized by the setting in which it takes place. Amongst them are ambulatory, emergency, home health, inpatient and virtual encounters.

An Encounter

[2021-07-14 13:42] f-odhiambo opened #407 "CHW/ANC SubTask - Create an Observation record from an ANC Encounter"
Observations are a central element in healthcare, used to support diagnosis, monitor progress, determine baselines and patterns and even capture demographic characteristics. For this use-case create an observation to record :
- [ ] Vital signs such as body weight, blood pressure, and temperature
- [ ] BMI

Possible fields to be captured if at a facility for _Normal Observation_ or _Pregnancy Confi

[2021-07-14 14:17] f-odhiambo opened #408 "CHW/ANC SubTask - Search for a Family"
Search for a given family by its Family name else if not found, register the new family

3.5 days FTE + 20% buffer
![image](https://user-images.githubusercontent.com/4540684/125637864-f60e5878-5dc1-412e-81a1-154f9c1ab28a.png)

[2021-07-14 14:22] pld commented on #406
How does this fit in to the unified resource diagram?

Is there a Task for a CHW visit, how does this relate to that?

[2021-07-14 14:23] f-odhiambo commented on #408
We need to decide how we represent a family based on the discussions [here](https://github.com/opensrp/fhircore/issues/276)

[2021-07-15 04:14] dubdabasoduba opened #409 "Current OpenSRP response from the security/authenticate endpoint"
[code]

[2021-07-15 04:15] dubdabasoduba opened #410 "Current OpenSRP response from the user-details endpoint"
[code]

[2021-07-15 10:43] maimoonak commented on #224
<img src="https://user-images.githubusercontent.com/4829880/125775137-ac70fe54-e8ba-4481-90e9-3aa54992ea9a.jpg" data-canonical-src="https://user-images.githubusercontent.com/4829880/125775137-ac70fe54-e8ba-4481-90e9-3aa54992ea9a.jpg" width="200" height="400" /> <img src="https://user-images.githubusercontent.com/4829880/125775148-e59538fd-df8e-4612-8bee-af69c9883f16.jpg" data-canonical-src="https:

[2021-07-15 11:34] ndegwamartin opened #414 "Codebase re-structure and refactor"
**Change the structure of the current codebase**
In an effort to move towards a single apk approach we need to make the following changes:
- Single code base for all our apps
- Refactor/Reuse any generic code

**Current structure of the FHIRCore/Covaxx demo module**
`/app`

**New structure**
`/anc` _- anything ANC specific will build CHW app for LMH and mADX_
`/eir` _- anything EIR specific will b

[2021-07-15 12:56] pld commented on #414
Can the Covax/EIR activities be performed in a non-facility setting? I've heard plans of door-to-door vax, but haven't heard of it actually being run.

Can we also add more details to these categories, saying what is CHW specific?

[2021-07-15 14:28] pld commented on #177
1. How we will evaluate Measure(s) to get MeasureReport(s)
  - should any of the work we do towards this issue go upstream into the CQL libs?
2. How and what parts of this will go into the “engine” section and what into the “chw anc” app section?
  - and are there other custom pieces not in either of those?

[2021-07-15 14:30] #224 closed

[2021-07-15 15:47] f-odhiambo commented on #414
@pld FYI: In Kenya, there is the door to door polio campaigns. For Covid-19 vaccination, you have to go to a facility

[2021-07-15 17:04] pld commented on #414
Cool, I imagine that's quite common, b/c of this I think we want to separate EIR functionality from facility functionality (if there's any of either that we don't push to configs)

@ndegwamartin what do you think about `/eir` for anything covax/eir specific?

[2021-07-16 01:42] isabelcshaw commented on #292
For all clients with an active pregnancy, the ability to record a birth outcome will be added to their profile view. In order to record a birth, the user will hit the option menu in the top right corner and "record birth outcome" will be one of the menu options. (See image of the profile view below.) This will open a short questionnaire. _Fields to be confirmed_.

The submission of that questionna

[2021-07-16 02:34] isabelcshaw commented on #288
For all female clients of childbearing age, there will be an option to record a pregnancy. In order to do so, the end user will hit the option menu in the top right corner (see image below). One of the options in the menu will be to record a pregnancy. That will open a short questionnaire. _Fields to be confirmed._

When the questionnaire is submitted, the ANC plan definition will be added to that

[2021-07-16 05:38] f-odhiambo opened #415 "Test and demonstrate scheduling functionality using PlanDefinition, CarePlan, and Task"
In ANC tasks will be created from this [schedule] done a while back by Carolyn in 2019 (https://docs.google.com/spreadsheets/d/1dx7F5NMCsx5SPHPsSlj6A1r1EGI7nzTgkfabgz7v0Yc/edit?usp=sharing)

Data requirements: We need to pass 2 variables when evaluating each task.
1. Gestation age(GA). Since this can be calculated in many ways in the ANC. we can expect the event or client has the gestation age or

[2021-07-16 08:48] f-odhiambo opened #416 "CHW/ANC SubTask - Register an ANC Patient"
To register an ANC Patient (mom), we may need to capture the following fields

1. Patient.language	preferred	CommonLanguages
2. Max Binding: AllLanguages
3. Patient.identifier.use	required	IdentifierUse
4. Patient.identifier.type	extensible	Identifier Type Codes
5. Patient.name.use	required	NameUse
6. Patient.telecom.system	required	ContactPointSystem
7. Patient.telecom.use	required	ContactPointUs

[2021-07-16 09:36] f-odhiambo commented on #406
I think this is covered in the diagram unless am missing something

![image](https://user-images.githubusercontent.com/4540684/125926997-14ed4046-eecb-42b3-879c-d2331a59ddfb.png)

[2021-07-16 09:59] f-odhiambo opened #417 "Show progress dialog showing in the foreground during the auth"
**Describe the bug**
Currently, In auth screen when we try to login there is a progress dialog showing in the foreground so we need to show the progress dialog during the auth.

**To Reproduce**
Steps to reproduce the behaviour:
1.  Launch app
2. Add correct credentials
3. Login

**Expected behaviour**
Show progress dialog as once waits to be authenticated

**Screenshots**
If applicable, add scree

[2021-07-16 10:56] MuhammadSalman-7214 commented on #177
@f-odhiambo so we will have different flow for mADX and Covax application going forward, like we would have a screen after sign up that can have two buttons. One for Covax application, and one for mADX application. User can press button and go to the specific flow of that application like for mADX, mADX flow will run and for COVAX, COVAX flow will run, right?

[2021-07-16 11:18] f-odhiambo commented on #177
Not really. the Single APK application will be defined via a configuration that will check the credentials of the user and the load the appropriate workflow either mADX or Covax

[2021-07-16 11:34] MuhammadSalman-7214 commented on #177
okay, @f-odhiambo what actually I want to ask is whether this mADX application will be running as a separate application from fhir core, or it will be used as a same application within fhir core?

[2021-07-16 14:21] pld commented on #288
How do we record this in FHIR?

[2021-07-16 14:21] pld commented on #292
How do we record this in FHIR?

[2021-07-16 14:30] pld commented on #406
OK cool! Let's add to the list of fields to capture, how we'll capture the links to other resources

[2021-07-16 15:20] pld commented on #406
Added Patient, I think we need to be more specific on what this Encounter is to encode, this looks like maybe it's an implementation issue for

- https://github.com/opensrp/fhircore/issues/288
- https://github.com/opensrp/fhircore/issues/292

[2021-07-16 15:34] pld commented on #177
Ie the first task under integration needs more definition, before we begin on it, but the others are unblocked

[2021-07-16 15:56] pld commented on #414
updated based on conversation in https://docs.google.com/document/d/1-8MjzCeo1NJdrVGnhHq1YLInzrs5lHL5QKfrwb0JwMc/edit?ts=60f037f2#heading=h.qyfxrlaqj1lv

[2021-07-16 16:01] pld commented on #379
We replaced this w/https://github.com/opensrp/fhircore/discussions/296

[2021-07-16 16:01] #379 closed

[2021-07-16 18:53] f-odhiambo commented on #406
A while back I and Brynn worked on this ANC use case scenario to record the 1st ANC contact. This scenario illustrates the resources involved in the application of the WHO IG at the first contact for a new patient. Here is a list of [profiles](https://build.fhir.org/ig/who-int/anc-cds/branches/feature_updated_dataelements_with_decision_tables/profiles.html) that can be applicable for ANC /CHW use

[2021-07-16 18:53] f-odhiambo commented on #288
The Pregnancy can be recorded as a [condition](https://build.fhir.org/ig/who-int/anc-cds/Condition-charity-pregnancy.json.html)

cc @isabelcshaw @pld

[2021-07-16 18:58] f-odhiambo commented on #292
Initial research shows this can be recorded using the following structure definitions using [ANC Observations](https://build.fhir.org/ig/who-int/anc-cds/branches/feature_updated_dataelements_with_decision_tables/StructureDefinition-anc-observation.profile.json.html)

1. Normal birth - Not found yet
2. [Preterm Birth](https://build.fhir.org/ig/who-int/anc-cds/branches/feature_updated_dataelements_w

[2021-07-16 19:00] f-odhiambo commented on #292
Something to review here too https://nhsconnect.github.io/FHIR-Maternity-Record/explore_pregnancy_outcome.html

CC @isabelcshaw @pld

[2021-07-19 06:08] MuhammadSalman-7214 commented on #177
@f-odhiambo can you please answer this one?

[2021-07-19 06:11] MuhammadSalman-7214 commented on #177
as far as I can answer, currently it will be independent of both covax and chw application

[2021-07-19 06:13] MuhammadSalman-7214 commented on #177
yes have a call with @f-odhiambo regarding this, and currently we decided to proceed with cql as a separate application than fhir core

[2021-07-19 07:29] shoaibmushtaq25 commented on #227
**Update**
Working on updating JSON based on the Observation Reference ([detail](https://www.hl7.org/fhir/immunization-definitions.html#Immunization.reaction.detail) of [reaction](https://www.hl7.org/fhir/immunization-definitions.html#Immunization.reaction) under [Immunization](https://www.hl7.org/fhir/immunization.html)). Also extracting these questionnaire responses into Immunization resource an

[2021-07-19 07:38] ekigamba commented on #307
## Update

- Implemented on FHIR core and the PR is up
- Blocked by Android FHIR SDK PR https://github.com/google/android-fhir/pull/566 and https://github.com/opensrp/fhircore/issues/398. The PR on Android FHIR needs to be merged. The FHIR core issue needs to be addressed to prevent covax demo updates from breaking since the barcode scanning work is not available on Android FHIR SDK

[2021-07-19 07:39] ekigamba commented on #184
## Update

- Implemented on FHIR core and the PR is up https://github.com/opensrp/fhircore/pull/390
- Blocked by Android FHIR SDK PR https://github.com/google/android-fhir/pull/566 and https://github.com/opensrp/fhircore/issues/398. The PR on Android FHIR needs to be merged. The FHIR core issue needs to be addressed to prevent covax demo updates from breaking since the barcode scanning work is not

[2021-07-19 07:51] ekigamba commented on #23
## Update

- Some tasks on this issue are complete
- The remaining tasks
   - Updates for vaccine site/worker site - Requires work on location mapping to be completed
   - Support all key workflows required for the ANC app - This needs to more specific and broken down into smaller issues
   - Sync API updates based on discussions -> Not yet done. These need to be created as separate issues for bet

[2021-07-19 08:22] fredhersch commented on #23
Great to see the progress here.

Couple of questions:

1. Are you planning to use the sync API to construct the queries to determine which resources to sync or will you be using a custom end-point that you will point the SDK too?
2. What are the offline support updates required?

[2021-07-19 08:50] ekigamba commented on #23
1. @f-odhiambo @dubdabasoduba Can you help answer # 1 :arrow_up:
2. Required offline updates - It seems this was fixed. I'd noticed that resources to be synced were not available on the resources table until synced to the server. This was probably fixed with the new engine update :smile: :+1:

I have updated my comment and updated the details also

[2021-07-19 09:20] f-odhiambo commented on #23
@fredhersch @ekigamba Yes. This is what we want to achieve with the Single APK approach.
We will also tie in Keycloack to facilitate Role-Based access control (RBAC). Also, we have the location hierarchy (Sync Location/Team) piece that will aid in unblocking this once done i.e. #188 & #189

Lastly, converting this to a discussion point

[2021-07-19 09:20] #23 closed

[2021-07-19 09:40] MuhammadSalman-7214 commented on #79
This is being done on the sdk side as well as the core side. Only waiting for that sdc release from google team to update the version in fhir core and create a PR

[2021-07-19 09:45] MuhammadSalman-7214 commented on #185
This is being blocked until Epharim's work completes on ticket https://github.com/opensrp/fhircore/issues/184

[2021-07-19 09:45] #101 closed

[2021-07-19 09:58] f-odhiambo commented on #142
What's the status of this issue? @syedowaisali90 @maimoonak

[2021-07-19 09:58] f-odhiambo commented on #417
What's the status of this issue @syedowaisali90?

[2021-07-19 09:59] f-odhiambo commented on #175
What's the status of this issue?  @maimoonak

[2021-07-19 10:00] syedowaisali90 commented on #142
@f-odhiambo I have didn't work on this @maimoonak can update more

[2021-07-19 10:02] syedowaisali90 commented on #417
@f-odhiambo WIP will be done by today-end

[2021-07-19 10:06] maimoonak commented on #142
This one, i.e. #142, #175 , [#554](https://github.com/google/android-fhir/issues/554) all are related. The details on the progress can be tracked on [#554](https://github.com/google/android-fhir/issues/554) and the PR [#648](https://github.com/google/android-fhir/pull/648). There were back and forth discussions with Jing and now need a review and feedback on this PR

[2021-07-19 10:08] maimoonak commented on #175
This one, i.e. #142, #175 , [#554](https://github.com/google/android-fhir/issues/554) all are related. The details on the progress can be tracked on [#554](https://github.com/google/android-fhir/issues/554) and the PR [#648](https://github.com/google/android-fhir/pull/648). There were back and forth discussions with Jing and now need a review and feedback on this PR

[2021-07-19 11:33] ekigamba commented on #185
@MuhammadSalman-7214 I think you can proceed from this branch https://github.com/opensrp/fhircore/tree/issue/184-add-related-persons-fields because this PR is possibly going to be blocked for a while.

The required datacapture release for this branch has also been released here https://github.com/google/android-fhir/packages/677325 and contains the latest master from Android FHIR SDK + StructureMa

[2021-07-19 11:44] #21 closed

[2021-07-19 11:46] #164 closed

[2021-07-19 12:00] MuhammadSalman-7214 commented on #185
okay, thanks for informing @ekigamba

[2021-07-19 12:45] MuhammadSalman-7214 commented on #177
There can be two approaches to integrate CQL evaluator application into Fhir Core:
1. Either we integrate it as a separate application from fhir core, which means we would not be able to access code from fhir core in cql application.
2. We can integrate cql application as a module into fhir core, and then include this cql module into fhir core, but for this approach as well, the code for cql stuff

[2021-07-19 12:56] pld commented on #177
Sounds like we need to go w/(2) since the value of integration is being able to call this functionality within FHIR Core

I also do not think we should include any of the UI components. My understanding is that the goal of the integration is so we can implement #404 and #405, not have a CQL demo

[2021-07-19 12:57] pld commented on #177
Sounds good, @ekigamba can you join this as well? After the meeting please post the plan here so I can take a look, I'm happy to join as well, but definitely proceed w/out me and I can catch up, I don't want to slow you down!

[2021-07-19 13:00] MuhammadSalman-7214 commented on #177
@pld if we are going with second approach, then this is now no longer valid

[2021-07-19 13:08] pld commented on #177
True, we can rewrite the title and description of the issue to match this.

My assumption is that there's code in this app that's useful for #404 and #405, maybe it'd be more useful to work on one of those issues directly and treat this as a sub-issue of those to pull in common CQL functionality.

@f-odhiambo am I missing something here?

[2021-07-19 13:10] ekigamba commented on #177
Sure @pld

[2021-07-19 13:13] pld commented on #406
Cool that looks great, how do we represent the link to the CareTeam?

[2021-07-19 13:15] pld commented on #288
Sounds good, from the dependencies looks like we will close this in the course of working on #406

[2021-07-19 13:26] pld commented on #79
K is the code we need for this in the main branch of the Android FHIR SDK?

[2021-07-19 13:26] f-odhiambo commented on #177
@pld We will need to extend the work Ronald was working on for the search use cases to achieve this. Search will need to be extended to work for either name (First name, Last Name, Family name), IDs (UUID, Logical ID, Identifiers) and resources (Encounters, Observations, Practitioners etc) for issues #404 & #405

For this piece of work, I think we are looking at the base code, resources to achieve

[2021-07-19 13:33] f-odhiambo commented on #177
@pld for the mADX work we need to achieve the following
1. Log in to the app
2. View a list of patient
3. Search (Patient /Encounter / Observations)
4. Define the _measure_ for the indicator (for POC we shall go with Indicator i.e. Percentage of pregnant women with first ANC contact in the first trimester (before 1 week of gestation) ) we need to report
5. Run $measure_evalute
6. Show measure repo

[2021-07-19 13:34] f-odhiambo commented on #177
So we skip moving from Evaluation page directly to map the floe above

[2021-07-19 13:35] pld commented on #177
To clarify, I meant the UI of this specific demo app is not required.

To achieve that we can use the ANC app NOT a separate CQL specific demo app.

[2021-07-19 13:57] f-odhiambo commented on #177
Copy that. All Clear

[2021-07-19 14:18] MuhammadSalman-7214 commented on #79
yes @pld it is in the main(master) branch of Android Fhir SDK

[2021-07-19 14:26] pld commented on #79
Can we cut our own releases from main and import that until they're releases catch up?

[2021-07-19 15:40] MuhammadSalman-7214 commented on #177
So based on @pld comments that we don't need the UI of the demo application, the approach finalized with @f-odhiambo and @ekigamba is as follows:

We will not import the cql demo application as a module into fhir core, instead we will copy some of the code and dependencies directly from reference application to fhir core and then use it to achieve our use cases within fhir core directly

[2021-07-19 16:51] f-odhiambo commented on #406
Researching on this still . The Location hierarchy stuff may also influence how that is done by. Will update once done

[2021-07-19 17:05] #417 closed

[2021-07-20 13:34] pld commented on #326
open to track this until we get to 95, updated title to match

[2021-07-20 15:00] rehammuzzamil commented on #189
Hi, As per my findings here are my thoughts:

1. To find root locations, we can also utilize the `type` field in the FHIR Location entity. By definition:
[code]
 It's an array, so we could add one of the entries inside this field as `root` and can get all root locations using this end-point
`http://localhost:8080/fhir/Location?type=root`

For instance, if we get another use case in the future to s

[2021-07-20 17:05] pld commented on #189
Thanks Reham, using a `type` sounds like a good solution.

As you've described it, the inability to query on a null value sounds like a general limitation for any resource, is that correct? Can you ask on the FHIR Zulip about this? It would be interesting to see what other people in the FHIR community do about this.

Another option, would be to have a "root" location that all the literally root lo

[2021-07-21 00:09] isabelcshaw commented on #292
@f-odhiambo I'd say the most important thing to prioritize here is ensuring we can trigger the registration of a new family member (the infant) from this workflow.

LMH currently collects pretty limited information here - mostly whether there was a live birth, how many fetuses, and the date. We'll likely update this questionnaire with them, but I think that's enough for a proof of concept.

[2021-07-21 08:02] f-odhiambo opened #426 "Required Fields for the Covax Demo app for WHO"
**Required Fields for Immunization tracking**

**General Patient info**
1. Unique identifier - Unique identifier for the vaccinated person, according to the policies applicable to each country. There can be more than one unique identifier used to link records (e.g. national ID, health ID, immunization information system ID, medical record ID)  - ID
2. Name - ​​The full name of the vaccinated perso

[2021-07-21 10:00] f-odhiambo commented on #406
Here is a StructureDefinition for the [CareTeam](http://build.fhir.org/ig/WorldHealthOrganization/smart-anc/StructureDefinition-anc-careteam.html)

[2021-07-21 11:47] f-odhiambo opened #427 "On first install, app starts with no data and takes a while to load data"
**Describe the bug**
The app takes a while to load data with no feedback to the user

**To Reproduce**
1. Do a fresh install
2. Load app no data, even after a couple of minutes wait
3.  Press sync takes a while
2. Press-Register and go back, view patient list populated
3. Search, clear and then view patient list populated

**Expected behaviour**
Load app and either shows a progress dialogue of syn

[2021-07-21 12:04] f-odhiambo opened #428 "Pagination Bug : Page has no data and freezes from next actions"
**Describe the bug**
When a user searches for a patient and presses the back button the pagination is distorted

**To Reproduce**
Steps to reproduce the behaviour:
1. Scroll back and forth the pages
2. Search for a patient e.g Cook
3.  Enter profile
4. Press the Back button
5. Press Next

**Expected behaviour**

- [x] We should properly  handle /Clear the back stack appropriately
- [x] Make sure t

[2021-07-21 12:28] f-odhiambo commented on #176
This feature is missing on the main branch

[2021-07-21 12:28] f-odhiambo commented on #195
This feature is missing on the main brannch

[2021-07-21 14:49] #14 closed

[2021-07-22 11:46] f-odhiambo commented on #393
@bennsimon Here is a similar issue

[2021-07-22 13:47] pld commented on #414
Sounds like we need to build a flavor for CHW and EIR

[2021-07-22 17:44] pld commented on #406
K, is the only connection between the CareTeam and Encounter due to the connection between the Patient and the CareTeam?

[2021-07-22 19:50] f-odhiambo commented on #414
And mADX too even though delayed

[2021-07-22 20:44] f-odhiambo commented on #406
Yes. I would further summarize the care team structure using the following FHIR Resource JSON code snippet

A CareTeam

[code]

contains a practitioner
[code]
and has a unique identifier

[code]

and its  status could be  proposed | active | suspended | inactive | entered-in-error

[code]

and the category for the CareTeam is  an Encounter-focused care team  - in this case to Check Pregnancy statu

[2021-07-22 21:30] f-odhiambo commented on #399
The earlier reported bug is still persistent - Needs more test

[2021-07-23 10:02] f-odhiambo opened #429 "Retrieve & Sync Patient Registration Questionnaire from HAPI and not assets folder"
**As a subtask of #414**
Load the [patient-registration.json ](https://github.com/opensrp/fhircore/blob/main/android/app/src/main/assets/patient-registration.json)from the server-side and not the assets folder as Referenced here: https://github.com/opensrp/fhircore/blob/5ebff99e5072907b9c7e27cc8ead7357b32f8e29/android/app/src/main/java/org/smartregister/fhircore/activity/PatientListActivity.kt#L10

[2021-07-23 10:29] f-odhiambo opened #430 "Create a How to Contribute.md for FHIRCore"
We can use this as reference https://github.com/google/android-fhir/blob/master/docs/contributing.md

[2021-07-23 10:30] f-odhiambo opened #431 "Create a Developer's Guide for FHIRCore"
We can use this as reference https://github.com/google/android-fhir/wiki/Developer's-Guide

[2021-07-23 11:00] f-odhiambo commented on #426
**Base Implementation**

1. Load the StructureDefinition
2. Create a new Java model

3. New Java class
4. QA

**Server-side**

1. Add Controllers
2. Add API EndPoints - To post data based on the provided StructureDefinition
3. Add New Table maybe

**Android  FHIRCore**
Change the methods in
1. Save
2. Retrieve
3. Status

WHO should have a complete package NPM to also support this and also do the S

[2021-07-23 12:45] pld commented on #414
I disagree, my understanding is anything we need for mADX we'll need for CHW, so to demo mADX, we'll build the CHW flavor and show the functionality it includes that we have as mADX deliverables

[2021-07-23 13:28] pld commented on #406
Oh ok cool so I was incorrect, the CareTeam can link *directly* to the Encounter, will we want to make use of that?

Thinking operationally...

1. There is an existing CareTeam, Groups, and Patients (will use Patient below to mean either below)
1. When a Patient changes (including is first assigned a) location
    1. Remove the Patient from any CareTeams it's currently in
    1. See if the Patient

[2021-07-23 13:30] pld commented on #426
I don't think this is related to the issue here

[2021-07-23 13:48] pld commented on #151
https://github.com/google/android-fhir/issues/256

[2021-07-23 13:51] pld opened #432 "Automate generating documentation from code"
**Describe the Issue**

- [ ] Edit build.gradle config to add [dokka](https://github.com/Kotlin/dokka)
- [ ] Update github actions (or however is standard tbd) so that on merge to main docs are generate and viewable on github pages (or wherever tbd)

[2021-07-23 14:40] #111 closed

[2021-07-23 14:40] #77 closed

[2021-07-23 14:50] #6 closed

[2021-07-23 14:50] #11 closed

[2021-07-23 14:51] #15 closed

[2021-07-26 05:55] maimoonak commented on #399
The app seems to be working fine without any crash. Could you plz provide steps/data where it crashes. https://drive.google.com/file/d/1BfT6E4aDIpXZ23K2VPCWSdQO0Ix9JFIg/view?usp=sharing

[2021-07-26 07:06] rehammuzzamil commented on #189
Yes @pld  as per my understanding, the validations on the request parameters are centralized and thus apply to all the resources. I will confirm and take the opinion from the FHIR Community as well.

For the second option, from a high level, this also seems a valid solution.  @dubdabasoduba  can you please share your thoughts on the solutions discussed above?

[2021-07-26 07:26] dubdabasoduba commented on #189
@pld I agree with using the `partOf` queries. QQ to see if I get the default location idea.
- Create a location that is maybe named `Root OpenSRP Location`, this will also be created as a migration during deployment.
- Then all locations that have this location's location id/uuid on the part of is treated as the root location?

If that's the case I am on board with this.

[2021-07-26 07:31] f-odhiambo commented on #398
Blocked - Current release from SDK not yet published

[2021-07-26 07:53] f-odhiambo commented on #426
@ndegwamartin

[2021-07-26 08:11] f-odhiambo opened #438 "[Documentation] Onboarding Checklist for FHIRCore"
Add an onboarding checklist and quick start guide for new contributors to the code base

[2021-07-26 09:08] syedowaisali90 commented on #397
I think as we already saving the consistent date and tz info then we don't need to remain this issue open anymore. @rkodev

[2021-07-26 09:10] #397 closed

[2021-07-26 09:43] dubdabasoduba commented on #429
**Context**
- With the R&D to edit patient data on going for OpenSRP web, we need a way to Identify which Questionaire Resource to load for each patient we try to edit.
- For this to happen we need to fetch the registration Questionaire Resources from the server.
- We also need a way to Identify which questionnaire resource was used to create the patient.

**Changes that affect the Android client*

[2021-07-26 09:59] maimoonak commented on #429
Although not related however, now we need to start thinking in terms of what actually we are building..
- Is it a different implementation which we are providing and that would provide base for other implementations (means that We have an IG ([Implementation Guide](https://www.hl7.org/fhir/implementationguide.html) which would allow people to import all metadata),
- Would this IG depend on other I

[2021-07-26 10:10] f-odhiambo commented on #399
Steps used to reproduce the bug
1. Scan for non-registered id - https://user-images.githubusercontent.com/4540684/126748257-4846493f-328c-493d-a3eb-83c0a80eb09c.jpg picks the wrong ID
2. Scan for Cook - Does not return profile page but an empty registration page

See video link https://onaio.slack.com/files/U01J0J33337/F028QPA8YMV/20210726_130706.mp4

[2021-07-26 11:43] maimoonak commented on #399
# 1 - the ID seems to be different from https://barcode.tec-it.com/en/Code128?data=123456 . May be image has wrong ID.
# 2 - the ID is case sensitive and using uppercase C would scan the ID

I found another issue with ID where it was not setting right ID when saving. Fixed this in PR https://github.com/opensrp/fhircore/pull/439

[2021-07-26 11:44] f-odhiambo commented on #429
@maimoonak on the following points

1. add questionnaires to server **- Updated the links to the test questionnaires for this implementation on the HAPI FHIR Server**
2. sync questionnaires and keep them updated (For now sync like we do for patient when launching FHIRApplication, and later with proper syncing setup) **- TODO**
3. Load the questionnaire from FhirEngine as Resource instead of assets

[2021-07-26 13:43] f-odhiambo commented on #429
We will also need to tag which patient belongs to which register @maimoonak @dubdabasoduba

[2021-07-26 13:52] pld commented on #189
Yea exactly that

[2021-07-26 13:53] pld commented on #398
We can push our own release of the SDK for this if we need it

[2021-07-26 14:01] pld commented on #429
I think we should just call it "ANC" not "CHW/ANC" because "CHW" isn't a health vertical it's a type of user so it would not make sense as a register (neither would "RDT" but that's fine, since we're removing it :)

[2021-07-26 14:47] f-odhiambo commented on #426
**Next steps**
1. Agree on the contractual agreement
2. We are currently storing the Immunization resource for a patient using the Immunization resource https://www.hl7.org/fhir/immunization.html
3. They would like us to adhere to the  shared StructureDefiniton  here https://worldhealthorganization.github.io/ddcc/StructureDefinition-DDCCCoreDataSetPoV.html
4. We can check and share feedback on any

[2021-07-26 16:20] isabelcshaw commented on #406
@pld if there are some location constraints here, we could potentially address them in registration? Aka for the CHW implementation, it is generally safe to say that a family/patient is associated with the same location/catchment as the CHW who enrolls them and take location from that. Or, we could add a field beyond GPS to the registration form itself.

For Liberia, we don't have any facility int

[2021-07-26 17:51] #432 closed

[2021-07-26 18:04] pld commented on #97
Integration test actions here might be useful, https://github.com/google/android-fhir/blob/master/.github/workflows/ci.yml

[2021-07-26 18:06] pld commented on #97
@Mstjamush is this the issue related to the gherkin intergation tests?

[2021-07-27 06:27] dubdabasoduba commented on #189
@rehammuzzamil Do you think you have enough to proceed? If not please let me know so that we can look at it together and iron out the requirements

[2021-07-27 07:12] rehammuzzamil commented on #189
@dubdabasoduba  I believe with the approach discussed above, we can go with the existing end-point. There is no need of creating a new end-point.

[2021-07-27 07:42] Mstjamush commented on #97
@pld Yes.

[2021-07-27 07:43] dubdabasoduba commented on #189
- I guess my questions would be, do we want to let the web handle the functionality to derive the root locations. I would rather we have an endpoint that actually gives out an array response for these root locations.

@pld @ndegwamartin @ekigamba @maimoonak any thoughts?

[2021-07-27 07:55] rehammuzzamil commented on #189
@dubdabasoduba  We can get the array of root locations by using the end-point` http://localhost:8080/fhir/Location?partof=153`
where` partof=153` is the **id** of the root location. In this case, the server can set up a "_root_" location that all the literally root locations set as their `partOf` from the web by setting the `partOf` param in the payload to the id of the root location created by th

[2021-07-27 07:57] dubdabasoduba commented on #189
I agree. let's mark this as done. I had completely forgotten about this.

[2021-07-27 07:58] dubdabasoduba commented on #189
Create the default locations payload then we can document it somewhere @rehammuzzamil

[2021-07-27 08:01] rehammuzzamil commented on #189
Sure. Thanks!

[2021-07-27 08:53] rehammuzzamil commented on #189
**Sample payload for root location:**

[code]

@dubdabasoduba Please have a look. Thanks!

[2021-07-27 09:04] dubdabasoduba opened #443 "Root Location Payload"
[code]

[2021-07-27 09:06] dubdabasoduba commented on #189
This is now tracked here https://github.com/opensrp/fhircore/issues/443

[2021-07-27 09:06] #189 closed

[2021-07-27 09:41] f-odhiambo commented on #416
This ticket can be closed once the ticket #429  is DONE

[2021-07-27 11:04] rehammuzzamil commented on #188
@dubdabasoduba   Can you please share the end-point we use for getting Location Heirarchy in current OpenSRP platform?

[2021-07-27 11:27] dubdabasoduba commented on #188
**Details**
- Endpoint to used  https://<base-url>/opensrp/rest/location/hierarchy/<location-uuid>
- For testing you can use the following https://opensrp-stage.smartregister.org/opensrp/rest/location/hierarchy/cf3e899d-ab94-4779-8cd4-7817657504f3

**Scope**
- [ ] Generate a hierarchy for a given location with its `location-uuid/id`

**Current hierarchy JSON sample**
- This sample is from the abov

[2021-07-27 11:35] dubdabasoduba commented on #188
@rehammuzzamil the new endpoint name can be `https://fhir.labs.smartregister.org/fhir/location/hierarchy/<uuid>`

[2021-07-27 13:39] #399 closed

[2021-07-27 14:16] pld commented on #97
Let's make sure to test high and variable latency connections

[2021-07-27 15:36] f-odhiambo commented on #281
This should cover cases such as battery drain, failure on connectivity, dirty read, sync failure, restore to last best state

[2021-07-28 08:56] #81 closed

[2021-07-28 10:28] maimoonak commented on #429
@f-odhiambo @dubdabasoduba We also need the questionnaire record-vaccine.json in questionnaires and load in same way. Plz add the link to vaccine questionnaire as well

[2021-07-28 11:42] f-odhiambo commented on #429
Here is the link to the Record Vaccine questionnaire - https://fhir.labs.smartregister.org/fhir/Questionnaire/800

[2021-07-28 13:27] f-odhiambo opened #446 "Add Immunization profile page"
**Name of feature to enhance**

Replace current profile page

**Description of feature**
The page should have

1. Name
2. Gender
3. Age
4. Vaccine
5. Provider  - Harcoded for now
6. Show QR code  - For the short term just Toast  - "Not yet Generated"

**Screen shots**
<img width="773" alt="Screen Shot 2021-07-28 at 3 53 44 PM" src="https://user-images.githubusercontent.com/4540684/127329139-bf0679

[2021-07-28 13:40] pld commented on #153
this looks covered by discussion and this issue, https://github.com/opensrp/fhircore/issues/281

[2021-07-28 13:40] #153 closed

[2021-07-28 14:21] #176 closed

[2021-07-28 17:01] f-odhiambo commented on #446
Added assets here @ellykits

Immune
Color code  - `#38B500`
Image

<img src="https://user-images.githubusercontent.com/4540684/127364954-dae3edea-b1a9-4949-a834-225d018686b5.png" width="200" height="200" />

Not Immune
Color code  - `#E8B600`
Image

<img src="https://user-images.githubusercontent.com/4540684/127364982-c12094ff-cabc-48ee-852d-2883abba637e.png" width="200" height="200" />

[2021-07-29 08:54] f-odhiambo commented on #446
SVG Images - https://drive.google.com/drive/folders/1oIizaXDU_lfvZ9wNy9DE0VlnynrpJEZg?usp=sharing

[2021-07-29 14:55] pld commented on #414
w/ANC replacing CHW, mADX will be a flavor of the ANC app

[2021-07-29 19:10] pld commented on #276
@f-odhiambo @fredhersch @brynrhodes

We talked through the various options and (although semantically it's arguable a family is better represented some sort of group, or maybe organization) for CarePlan generation purposes, we know $apply works well for Patients, so we want to use that as much as possible. And this example linked from the blog article Fred shared uses Patient and RelatedPerson htt

[2021-07-30 06:52] ndegwamartin commented on #398
This is now published https://oss.sonatype.org/content/repositories/snapshots/org/smartregister/data-capture/

[2021-07-30 06:53] ndegwamartin commented on #398
Tag https://github.com/onaio/android-fhir/releases/tag/v0.1.0-alpha03-preview-SNAPSHOT

[2021-07-30 07:57] MuhammadSalman-7214 commented on #177
**Update:**
1. Cql Evaluator reference application has been integrated into fhir core
2. We have uploaded all Library Resources and Plan Definition Resource to server, and they are being used from server instead of assets folder, but we still need to upload valueset and test bundle files to server. Currently both valueset and test bundle files are being used from asset folder
3. Though we have upl

[2021-07-30 12:05] #428 closed

[2021-07-30 13:10] pld commented on #177
awesome work! is it ready for a PR yet?

[2021-07-30 13:12] pld commented on #180
I kinda think we can call this done, or irrelevant?

[2021-07-30 13:28] MuhammadSalman-7214 commented on #177
yes almost

[2021-07-30 15:26] f-odhiambo commented on #324
@pld @ndegwamartin  @dubdabasoduba Kindly review and update

[2021-07-30 16:29] #398 closed

[2021-08-02 07:38] f-odhiambo opened #452 "Integrate the Barcode reader function to the latest merged version of SDC"
**Is your feature request related to a problem? Please describe.**
The Barcode reader is required to scan the paper card, the patient identifier that is used to track the paper card that is issued to the patient.

**Describe the solution you'd like**
The current SDC release has an issue with the barcode functionality. We need to resolve the bug(s) associated with it in the codebase to ensure that

[2021-08-02 08:36] f-odhiambo opened #453 "CHW/ANC - Family Registration"
Allow a CHW to register a family. As part of family registration, a location is collected in order to add that family to the map. This will be done at a later stage (Need to confirm if this is the way forward or if we want to register actual structures). This Epic entails the following subtasks
**Subtasks**
- [x] #276
- [x] #275
- [x] #408
- [x] #285
- [x] #284

[2021-08-02 08:38] f-odhiambo opened #454 "CHW/ANC - View Families on a map"
Once the map view is added to the FHIR app and you are able to see the structures pre-populated (as covered in issue: https://github.com/opensrp/opensrp-client-reveal/issues/1438_), we will want to add the ability to add/ record new structures to the map.

- [ ] Add geo-widget support (a new widget that displays the map). (Needs further research)
	 - [x] Complete [customizable widget functionality

[2021-08-02 09:44] f-odhiambo commented on #343
Closing this ticket for now as all items have been fulfilled. Will create new tickets if required on any follow-up item
CC @ndegwamartin

[2021-08-02 09:44] #343 closed

[2021-08-02 09:54] #175 closed

[2021-08-02 10:25] #278 closed

[2021-08-02 10:35] f-odhiambo opened #456 "[Roadmap] fhirengine-alpha-02 release: ERD 04-06-21 #508"
This alpha-02 release of the fhirengine library addresses a dependency issue that was causing an error when trying to build from maven and API change related to Sync.

- [x]  Remove CQL dependency in fhirengine: Remove FHIR engine's dependency on CQL and bump up version [#454](https://github.com/google/android-fhir/pull/454)
- [x]  Rework sync API to be separate form data access API: Rework sync A

[2021-08-02 10:38] #456 closed

[2021-08-02 10:39] f-odhiambo opened #457 "[Roadmap] sdc-alpha-03 release | ERD 12-06-30"
This alpha-03 release of the data-capture library will add in the additional features:

- [x]  Pagination [Questionnaire pagination #186](https://github.com/google/android-fhir/issues/186)
- [x]  Language support [Render questionnaire in different language using language extension #465](https://github.com/google/android-fhir/issues/465)
- [x]  Validation API [API for validation in the sdc lib #374

[2021-08-02 10:41] #457 closed

[2021-08-02 10:42] f-odhiambo opened #458 "[Roadmap] logic library API signatures | ERD 31-05-21"
Provide design and initial implementation of API signatures for the logic library operations support:
- [ ]  $measure-evaluate
- [ ]  $apply
  These API's will provide access to the cql-evaluator library

[2021-08-02 10:44] f-odhiambo opened #459 "[Roadmap] fhirengine-alpha-03 | ERD 30-06-21"
FHIR engine alpha 03 release. Adds additional features across search, sync and data access:
 **Search**:

- [x]  modifiers with :contains [Support Contains for string search #426](https://github.com/google/android-fhir/pull/426)
- [x]  modifiers with :exact [Support Contains for string search #426](https://github.com/google/android-fhir/pull/426)
- [x]  multiple search criteria joined by AND opera

[2021-08-02 10:46] #459 closed

[2021-08-02 10:47] f-odhiambo opened #460 "[Roadmap] workflow API requirements complete | ERD: 30-06-21"
Tracking this here [Roadmap] workflow API requirements complete | ERD: 30-06-21 [#522](https://github.com/google/android-fhir/issues/522)

[2021-08-02 10:48] f-odhiambo opened #461 "[Roadmap] logic-alpha-01 release | ERD XX-08-21"
Alpha release of the logic library. The initial feature set of this library will provide support for CQL operations via the external cql-evaluator library including:
- [ ]  $measure-evaluate operation
- [ ]  $apply operation
- [ ]  helper functions for using the logic library (requirements pending)

[2021-08-02 10:51] f-odhiambo opened #462 "[Roadmap] fhirengine-alpha-04 release | ERD XX-08-21"
This alpha-04 release of the fhirengine library includes feature updates, new features and addresses existing issues:

 **Search**

- [ ] * Optional support for fuzzy search on Patient name field - [FTS on Patient name to support for fuzzy search #608](https://github.com/google/android-fhir/issues/608)
- [ ]  * Resolve ValueSet lookups via Search API - [Resolve ValueSet lookups via Search API #609

[2021-08-02 11:00] f-odhiambo commented on #217
Same as #286

[2021-08-02 11:00] #217 closed

[2021-08-02 11:41] f-odhiambo opened #463 "[Roadmap] Test data and use cases for Workflow API"
**Tasks**

- [ ] #519

[2021-08-02 12:33] pld commented on #324
Cool, made some edits and added details to the header names. What is this referring to, in reviewee notes?

[2021-08-02 14:01] #430 closed

[2021-08-02 18:24] f-odhiambo commented on #324
Change logs is what we are referring to here

[2021-08-02 18:27] pld commented on #324
ahh ok I'll update to call it that, think it looks good

[2021-08-02 19:21] f-odhiambo commented on #452
Required to unblock #448

[2021-08-03 16:38] #427 closed

[2021-08-03 19:23] f-odhiambo commented on #276
Some value sets that can be used represent family relationships. _This is if we stick to Patient-Related person representation_

1. A set of codes that can be used to indicate the relationship between a Patient and a Related Person  - http://hl7.org/fhir/R4/valueset-relatedperson-relationshiptype.html
2. Sibling  - https://terminology.hl7.org/2.1.0/ValueSet-v3-Sibling.html
3.  There is a query pat

[2021-08-04 05:14] shoaibmushtaq25 commented on #227
Hey @ekigamba , Can you please review this Structure map for adverse reaction ? I have prepared it. Also please suggest me the way that how can I test that my structure map is correct or not? Thanks in advance.

`  map "http://hl7.org/fhir/StructureMap/AdverseReaction" = 'Adverse Reaction of vaccine'

  uses "http://hl7.org/fhir/StructureDefinition/QuestionnaireReponse" as source
  uses "http://hl

[2021-08-04 07:47] ekigamba opened #465 "P2P - UI/UX Design/Mocks"
1. Is there a new peer-to-peer UI from the one implemented on android-p2p-sync?
2. What are the possible changes?
3. Is the UX change going to be significant?

cc @rowo

[2021-08-04 09:01] dubdabasoduba opened #466 "[FHIR web Related] Assumptions made by the OpenSRP web team."
This is documenting all the assumptions made by the OpenSRP web FHIR team. This will help in tracking any changes that affect these assumptions

**Current Assumptions**
- OpenSRP web will not be allowed to add or remove patients from groups. The discussion on this can be found [here](https://github.com/opensrp/fhircore/discussions/298).
- ~~We are not using the `display` attribute on the reference

[2021-08-04 11:21] ekigamba commented on #227
@shoaibmushtaq25
- We are editing a previous Immunization so the `Immunization.id` should be prepopulated on the QuestionnaireResponse and retrieved from the hidden field
- A few of the lines inside the `ExtractImmunization` group might fail. You'll need to validate this StructureMap
- The StructureDefinition going into `Immunization.reaction` is probably `Immunization.Immunzation_Reaction` as dec

[2021-08-04 12:06] #184 closed

[2021-08-04 12:07] ndegwamartin commented on #452
This issue is blocked by the Android FHIR SDK issue [#489 ](https://github.com/google/android-fhir/pull/489#issuecomment-875626249)

[2021-08-04 12:52] pld commented on #452
is anyone working on that? from the PR comments it looks like it needs to be reimplemented

[2021-08-04 14:48] pld commented on #415
I don't think we should worry about implementing the specific logic of the linked schedule until we confirm this is the schedule we will be using something simpler but demonstrative that we can support the more complex schedule linked is sufficient.

Going to update the title to clarify this is demonstrating and testing the functionality of scheduling, not necessarily implementing it

[2021-08-04 14:49] pld commented on #415
Relatedly, I don't know what if anything would be needed in Android FHIR SDK for this

[2021-08-05 08:43] f-odhiambo commented on #452
@pld I have assigned Owais to assist in unblocking this issue as Martin continues working on #414

[2021-08-05 22:15] f-odhiambo commented on #195
Some Items to troubleshoot
- [ ] On the Patient list view the last seen date should be of the last encounter i.e. Registration Date if not received any vaccine , Or date of Vaccine Dose 1 Immunization.recorded, or date of Vaccine Dose 2/OverDue - Immunization.occurrence - Date vaccine administered or was to be administered
- [ ] On Patient Profile , get the correct registration date from history 1

[2021-08-05 22:23] f-odhiambo opened #472 "Scan for Patient Identifier and not Patient ID for the barcode reader functionality"
Upon scanning a bar code, search for the Patient Identifier ID as shown in the below code snippet and not scan for patient ID as is the case currently

[code]

**Acceptance criteria**

If a patient with the identifier is found
`load patient profile `
else
`Register a patient and append a new Identifier from the Barcode ID that has been scanned`. ie.

Open a new register page with the scanned barco

[2021-08-05 22:26] f-odhiambo opened #473 "Updated method in patient detail to show correct dosage remaining based on Immunization. protocol applied.seriesDoses[x]"
The method in patient detail needs to be updated based on the total doses retrieved from [SeriesDoses filed](Immunization. protocol applied.seriesDoses[x]) i.e The recommended number of doses to achieve immunity. Do not increment if the dose number is equal to seriesDoses number (n). Change the label to all doses have been  received

Update code  - Once you have received doses 1 and 2 you are _' F

[2021-08-05 23:28] f-odhiambo commented on #195
Update the correct fields for retrieving relevant dates for either registration or immunization

**Acceptance criteria:**
- [ ] On the patient profile, get the registered date  from  the last updated filed in meta in history 1 of a patient record  e.g. https://fhir.labs.smartregister.org/fhir/Patient/969/_history/1 to get the date when the patient was 1st enrolled to the system as shown in the bel

[2021-08-06 08:53] #195 closed

[2021-08-06 08:54] f-odhiambo opened #474 "Update the correct fields for retrieving relevant dates for either registration or immunization"
Update the date so patient list view and patient profile

**Acceptance criteria:**
- [ ] On the patient profile, get the registered date  from  the last updated filed in meta in history 1 of a patient record  e.g. https://fhir.labs.smartregister.org/fhir/Patient/969/_history/1 to get the date when the patient was 1st enrolled to the system as shown in the below code snippet

[code]
_This can also

[2021-08-06 09:11] f-odhiambo opened #475 "Make fields visible in the FHIR Web Patient browser"

[2021-08-06 14:57] rehammuzzamil commented on #188
Based on my findings, here is what I think about the possible solution to implement this feature:
We need to use the ‘partOf' param inside the FHIR ‘Location' entity and write a ‘recursive function' on the service layer to get the complete hierarchy of Location. The reason for working on the service layer is that the FHIR DB layer works differently, i.e. the resources are encoded and then persiste

[2021-08-06 17:59] pld commented on #188
This sounds good, it sounds like this will stay within the FHIR protocol. When you share the example let's examine what (if anything) is not within the FHIR protocol and if there are ways to get it within (even if that means relying on an extension

[2021-08-06 18:22] #429 closed

[2021-08-09 06:29] f-odhiambo opened #477 "[Roadmap] FHIRCore Milestone 9"
At the end of this milestone, we expect to have accomplished 80% of the below-listed items

**WIP to complete**
- [ ] Define and scope  Single APK Approach #296 & #379
- [ ] Remining tasks in [Sprint 8](https://github.com/opensrp/fhircore/milestone/16)

**Updated Covax app**
- [ ] Code cleanup & merge complete
- [ ] APK to be delivered   = Covax Demo App for WHO before the July 12th demo  - #343
-

[2021-08-09 06:40] #477 closed

[2021-08-09 06:40] f-odhiambo opened #478 "[Roadmap] FHIRCore Milestone 10"
At the end of this milestone, we expect to have accomplished 80% of the below-listed items

**WIP to complete**
- [ ] Remining tasks in [Sprint 9](https://github.com/opensrp/fhircore/milestone/18)

**Updated Covax app**
- [ ] Code cleanup & merge complete

**CHW/ANC App**
Based on the milestone -  [CHW ANC App MVP](https://github.com/opensrp/fhircore/milestone/17)
- [ ] Sync configs resources base

[2021-08-09 06:41] #352 closed

[2021-08-09 07:34] #307 closed

[2021-08-09 07:35] ekigamba commented on #307
Implemented in PR https://github.com/opensrp/fhircore/pull/390

[2021-08-09 12:11] maimoonak commented on #276
Group as family
---------------------
![Screenshot from 2021-08-09 16-51-14](https://user-images.githubusercontent.com/4829880/128702254-e7205a2d-7365-4d9d-affd-5920b78bbb3a.png)

Pros
- Allows multiple hierarchy level where each person is directly related to Group and maintains separate relationship with each member if needed through extension (do not see a field relationships where one person ca

[2021-08-09 12:30] ekigamba commented on #403
The way forward needs clarity

[2021-08-09 13:28] f-odhiambo commented on #276
@maimoonak The challenge of using the group is that the Worklofw API does not support it. The workflow API  takes in Patient as a subject to generate a care plan i.e. $apply(paitent_id, plan_deifiton_id) = careplan

[2021-08-09 17:50] f-odhiambo commented on #276
Could we explore the workaround if we stick to the Patient-Related Person approach

[2021-08-09 18:12] mberg commented on #276
Thanks everyone for the research and discussion on this.

My gut feeling is that going with patients and relationships probably makes the most sense if that is the idea that is best supported / follows the design patterns most closely in FHIR.

If we go this route, I think the key thing is it's important that the head of household really represents the unit where we want to assign tasks to the fam

[2021-08-10 08:57] #180 closed

[2021-08-10 09:11] pld commented on #276
If we wanted to follow FHIR we'd probably use Group but it's not practical b/c of $apply limitations.

Let's scope using a Patient who has something of a primary point of contact (ppoc, head of household) flag, we might be able to get by without a flag and use logic but not sure. Also we're not trying to represent the detail of the family (for now), only that there's a ppoc and family members.

@m

[2021-08-10 10:33] #446 closed

[2021-08-10 11:59] f-odhiambo commented on #474
@ellykits, I noticed the new profile page, we do not have a registered date, kindly add a field under the  age i.e. Registered: XX-XX-XXXX

[2021-08-10 14:21] ellykits commented on #474
Noted.

On Tue, Aug 10, 2021, 3:00 PM Francis Odhiambo Otieno <
***@***.***> wrote:

[2021-08-10 17:06] f-odhiambo commented on #474
moved the detail on patient profile to show registration date in the issue details above

[2021-08-10 19:33] #474 closed

[2021-08-11 12:35] f-odhiambo opened #481 "Search for patient using Patient ID"
We need to implement search by Patient ID on the FHIRCore app. At the moment the search only works  for the Patient Family name and given name

[code]

[2021-08-12 08:50] jingtang10 commented on #276
I think if the main reason we're going with this approach is `$apply` limitations we should talk with Bryn about this.

The `CarePlan` resource does allow for the `subject` to be a `Group`. But the CQL evaluator APIs assume the subject of the `CarePlan` is a `Patient` - I think. So if we go with the `Group` approach, we need to make sure that the APIs consider `Group` `CarePlan`s.

If we go with t

[2021-08-12 08:50] f-odhiambo commented on #473
**Acceptance criteria**
_In the case of the Covid POC - Dual dose vaccine_

1. When a patient receives the first Dose of the vaccine, Show a prompt alert, Mordena 1st Dose Recorded, Dose 2 due XX-XX-XXXX

<img src="https://user-images.githubusercontent.com/4540684/129165238-5d65527f-e5bc-4711-bfef-2586fe4f09c0.png" width="200" height="400" />

2. When you dismiss the alert go back to the patient p

[2021-08-12 11:44] f-odhiambo opened #488 "Update the save vaccine method and also post extra fields for Covid-19 Vaccination in Covax demo app"
Replace manual mapping with resource mapper and simplify

[code]

Update the Immunization resource being posted to the server

- [ ] 1. vaccineCode - keep static based on the sample shared, to be updated from a plan later with full details , change the text files based on the vaccine selected   "text": "Moderna"
- [x] 2. manufacturer - keep static based on the sample shared, to be updated from a p

[2021-08-12 12:11] f-odhiambo commented on #276
@jingtang10  we have another issue on encounters here #406

[2021-08-12 14:28] f-odhiambo commented on #481
When creating a resource directly on the HAPI FHIR it creates the resource with an incremented ID 001,002...etc i.e

[code]

When you create a resource on the app is created using a UUID

[code]

For the Barcode will fetch that resource using an identifier in the resource  i.e. The Barcode ID will be retrieved/stored on the identifier.value filed
[code]

[2021-08-12 14:35] pld commented on #481
is that a typo, is `resourceType` `Patient` in those examples?

it seems like `ID` is an internal ID since that is outside of the resource and we'd want to search by a specific `identifier`, we could have server and app always create a specific identifier or type UUID (or something else)

do we need to have an ID when we create a resource on device? if we push a resource without an ID to HAPI what

[2021-08-12 15:18] pld commented on #481
Cool, yea so what I'm suggesting is we don't touch or use ID, we assume that's for internal HAPI use only.

We use an identifier for querying that we control creation of on both device and server, and we set this to be a UUID

[2021-08-12 15:23] f-odhiambo commented on #488
More detail on Covid Vaccine attached here but not yet full verified   - Sample EU usecase
[digital-green-value-sets_en (1).pdf](https://github.com/opensrp/fhircore/files/6976613/digital-green-value-sets_en.1.pdf)

[2021-08-13 16:45] jingtang10 commented on #276
@f-odhiambo my point was kinda the opposite - I think we can get it to work with encounter but how do we get it to work with all types of resources.

[2021-08-16 09:24] maimoonak commented on #276
So the overall flow for enroll family, family member, and anc entry is implemented and here are few important points and caveats and queries

Patient resource has no field to mark as family head attribute and has no search params to filter except few demographics https://www.hl7.org/fhir/patient.html#search

We discussed to use other entities like Flag/Observation/Encounter to use as a base to que

[2021-08-16 11:33] f-odhiambo commented on #177
Canonical Types are not being handled yet in FHIR SDK tracked under issues https://github.com/google/android-fhir/issues/694. Until this is resolved we will not be able to sync value sets and test JSON from server into the local SQLite DB

[2021-08-16 11:43] f-odhiambo commented on #142
Update: This issue was blocked, but now we can work on it as soon as we get the latest SDK release with

1. Provide a StateFlow for sync status [#554](https://github.com/google/android-fhir/issues/554)
2. Flow API for one-time and periodic tasks [#648](https://github.com/google/android-fhir/pull/648)

[2021-08-16 12:34] f-odhiambo opened #491 "[Roadmap] FHIRCore Milestone 11"
At the end of this milestone, we expect to have accomplished 80% of the below-listed items

**WIP to complete**
- [ ] Workn on [Sprint 11](https://github.com/opensrp/fhircore/milestone/20)

**Updated Covax app**
- [ ] Update the Covax demo app questionnaire with the new requirements i.e. Update the save vaccine method and also post extra fields for Covid-19 Vaccination in Covax demo app https://gi

[2021-08-16 12:36] #478 closed

[2021-08-16 17:22] brynrhodes commented on #276
If Patient is the target, we should define a "headOfHousehold" extension (probably in WHO-Core) and use that to indicate which patient is considered head of household. Using profiles to distinguish resources is an anti-pattern in FHIR.

[2021-08-16 17:46] maimoonak commented on #276
@brynrhodes Thanks a lot for the feedback. We are not using profile. How about using 'tag' since this is searchable (we want to query patients who are head of households). Below are patients generated by our code rightnow code (Head of household, Pregnant Member, Other Member)

**Head Of Household**: {"resourceType":"Patient","id":"5ff09958-12c6-4996-948e-d4229a3d4d03","meta":{"profile":["http://h

[2021-08-16 18:12] brynrhodes commented on #276
Hi @maimoonak , that makes sense, but I would still recommend establishing an extension to explicitly indicate that a patient is a "headOfHousehold". You could provide guidance (and even a profile to enforce) that the Family tag be used in addition to the headOfHousehold extension, but tags should not be used as a stand-in for semantics, because the FHIR spec indicates that applications are not re

[2021-08-16 18:13] maimoonak commented on #276
@brynrhodes Thanks. Would add the "headOfHousehold" extension to our Patient.

[2021-08-16 20:16] #40 closed

[2021-08-16 20:20] #24 closed

[2021-08-17 08:35] ekigamba opened #494 "Preload SimpleWorkerContext into memory at application start"
Alternative is to remove this requirement and lazy load the required Structures

[2021-08-17 12:19] ndegwamartin opened #495 "August 18th Demo Release"
**Demo release**

- [x] Create demo release branch `who-demo-release`
- [x] Publish preview artifacts from the Android FHIR SDK e.g. for barcode feature
- [x] Merge in any PRs with features required for the demo
- [x] Create the demo release APK

[2021-08-17 12:20] ndegwamartin commented on #495
@f-odhiambo could you confirm [which Features/PRs here](https://github.com/opensrp/fhircore/pulls) are required for the Demo tomorrow?

[2021-08-17 12:54] f-odhiambo commented on #495
@ndegwamartin Here is a checklist of the relevant PRs and features required

- [ ] https://github.com/opensrp/fhircore/pull/492
- [ ] https://github.com/opensrp/fhircore/pull/483  - Has the latest Quesionnaire for bar code

CC @MuhammadSalman-7214 @syedowaisali90

[2021-08-17 15:10] f-odhiambo commented on #495
**Some key things**
WHO also wanted for us to
- [ ]  hide any comorbidities questions
- [ ] change the filter from Nairobi to Rome

[code]

CC @MuhammadSalman-7214 @syedowaisali90

[2021-08-17 15:53] MuhammadSalman-7214 commented on #495
@f-odhiambo we are rendering questionnaire from server. If we don't want to include comorbidities question, then we have to update questionnaire from server and remove comorbidities question from server

[2021-08-17 17:26] #481 closed

[2021-08-19 07:36] f-odhiambo commented on #276
@jingtang10 Kindly review subsequent comments here and share your thoughts

[2021-08-19 07:46] f-odhiambo commented on #276
@jingtang10 Kindly review subsequent comments here and share your thoughts

[2021-08-19 08:09] f-odhiambo commented on #495
Thanks for all the effort @MuhammadSalman-7214 @syedowaisali90 @ndegwamartin. Closing this ticket for now

[2021-08-19 08:09] #495 closed

[2021-08-19 10:18] jingtang10 commented on #276
can you create an issue in android-fhir please? thanks!

[2021-08-19 10:23] jingtang10 commented on #276
do we also need extensions to mark referenced resources as family-oriented resources rather than patient-oriented resources? i.e. if there's a task for family referencing the head of household, then we need to mark that task as a household task to distinguish other tasks related to the head patient themself.

[2021-08-19 21:01] dubdabasoduba opened #497 "[FHIR Road Map] Identify How to add GeoJSON Data as extensions on the location Resources"
## Issue Description
- Currently, OpenSRP collects GeoJSON data for other applications.
- FHIR however does not allow the holding of GeoJSON data in the location attribute.
- We need to create a GeoJSON extension and implement a way to capture and read it from the map

## Resources
- [Location](https://www.hl7.org/fhir/location.html)

---

[2021-08-20 06:54] maimoonak commented on #276
@jingtang10 the profile, tags are part of fhir protocol i.e. searchable resources. I did not find extensions or these properties. If we make this part of sdk it would be great but I am not sure how do we synchronize this feature with FHIR. @pld can comment on this.

[2021-08-20 09:11] f-odhiambo commented on #185
@ekigamba Assigning you this task on Edit pateint

[2021-08-24 20:08] rehammuzzamil commented on #188
**Updates regarding the implementation plan:**
For the response payload, we have created a new custom resource named "`**LocationHierarchy**`" by extending it from the FHIR `Location` entity. We have also created custom classes as per the FHIR Protocol that will be used as data structures to support the Location Tree Hierarchy and added those classes as the ` @child` field in our custom resource c

[2021-08-25 08:49] dubdabasoduba opened #499 "[FHIR Sample Payload] The user details endpoint."
[code]

[2021-08-26 08:07] ndegwamartin opened #501 "Fix Disabled Unit Tests"
**Disabled unit tests that need to be fixed**
Some tests are running successfully but failing on the automated pipeline

**Test classes**
- [ ]  `EirFhirSyncWorkerTest`
- [ ] `EirApplicationTest`

**Test cases**
- [ ] `RecordVaccineActivityTest.testVerifyRecordedVaccineSavedDialogProperty`

[2021-08-26 13:42] dubdabasoduba opened #502 "[Documentation] Write up a technical blog on the HAPI FHIR extension"
- [ ] Write 1 technical blog to explain what we did with the hapi->keycloak integration
- [ ] Write 1 technical blog to highlight the location hierarchy HAPI FHIR implementation.

[2021-08-30 08:38] maimoonak commented on #416
This needs to be done on refactored code branch. Started on it.

[2021-08-30 08:48] #414 closed

[2021-08-30 08:54] f-odhiambo commented on #177
**Acceptance Criteria**
- [ ] Checkout  `feature/integrate-cql-evaluation-application`
- [ ] Make sure that we are loading resources from the HAPI server and not the assets folder. Some resources might not be in use/required  but confirm
- [ ] Load  Patient resources from HAPI. NB. You will need to edit the patient resource and add the address given that the current app filters/syncs patients by l

[2021-08-30 09:43] maimoonak commented on #276
https://github.com/opensrp/fhircore/pull/493 The was supposed to close the issue but now it needs to be on new code structure

[2021-08-30 09:46] maimoonak commented on #275
https://github.com/opensrp/fhircore/pull/493 The was supposed to address the first mockup (without services count part) the issue but now it needs to be on new code structure.

[2021-08-30 09:46] maimoonak commented on #408
https://github.com/opensrp/fhircore/pull/493 The was supposed to resolve the issue but now it needs to be on new code structure.

[2021-08-30 09:59] maimoonak commented on #285
The flow can not map exactly as mentioned on mockups. Since Family is a person so the registration of family and members would be separate as in #276 . ANC Registration is gettign updated with this https://github.com/opensrp/fhircore/issues/416 .

[2021-08-30 10:13] mwkhan1983 commented on #142
Update: still blocked by SDK release

[2021-08-30 11:45] mwkhan1983 commented on #452
blocked by https://github.com/google/android-fhir/pull/704

[2021-08-30 11:47] mwkhan1983 commented on #284
waiting on PR https://github.com/opensrp/fhircore/pull/503

[2021-08-30 17:11] f-odhiambo commented on #177
@kimigxfoxy Also take note that #414 is now complete and that this codebase will need to go under report but accessed via the ANC module

**New structure**
**`/anc`** _- anything ANC specific will build CHW app for LMH and mADX_
`/eir` _- anything EIR specific will build Covax app_
`/engine`
` |--- /register`
**` |--- /report`**
` |--- /task`
` |--- /search`

**Explanation**
This implementation is

[2021-08-31 10:04] maimoonak opened #505 "Missing questionnaire from DB leads to crash with ResourceNotFound"
**Describe the bug**
Missing questionnaire from DB leads to crash with ResourceNotFound

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Open questionnaire immediately

**Expected behavior**
Should have a fallback config/questionnaire to load from DB OR show error that app is not in usable state

[2021-08-31 10:29] jingtang10 commented on #276
can you link an example here please? thanks!

[2021-08-31 10:31] jingtang10 commented on #276
my suggestion is similar to bryn's. but not only on the patient but also on the referenced resources to distinguish a household task from a patient task.

[2021-08-31 10:42] ellykits opened #506 "Implement missing functionalities after code refactor, also document new code structure"
**Name of features to enhance**

- [x] Load Record vaccine form
- [x] Notify register when sync is complete and when new client has been registered/vaccine recorded
- [x] Implement navigation buttons for the register (currently using infinite list from the `Paging3` library) i.e. add the Next and Previous button
- [x] Replace the login logo with a default image
- [x] Fix application crash on Andro

[2021-08-31 19:05] f-odhiambo commented on #177
@kimigxfoxy The sample app has since been updated with some new changes and the ability to generate measure reports check it out https://github.com/DBCG/CqlEvaluatorSampleApp We may need to upgrade part of the previous work done Also there us a new very loaded bundle [here](https://raw.githubusercontent.com/DBCG/CqlEvaluatorSampleApp/master/app/src/main/assets/resources/content/measure/ANCIND01/AN

[2021-09-01 06:14] f-odhiambo commented on #177
**Some additional notes**

Understanding the Library logic vs the measure logic

The Library has the actual CQL embedded, while the Measure is a higher-level construct that gives the elements of the CQL meaning within the context of a quality measure. Figure 3-1 at the link here illustrates the relationship:
https://build.fhir.org/ig/HL7/cqf-measures/measure-conformance.html#population-criteria

T

[2021-09-01 06:52] f-odhiambo opened #508 "[Roadmap] FHIRCore Milestone 12"
At the end of this milestone, we expect to have accomplished 80% of the below-listed items

**WIP to complete**
- [ ] Workn on [Sprint 12](https://github.com/opensrp/fhircore/milestone/21)

**Updated Covax app**
- [ ] Update the Covax demo app questionnaire with the new requirements i.e. Update the save vaccine method and also post extra fields for Covid-19 Vaccination in Covax demo app https://gi

[2021-09-01 07:20] ekigamba commented on #488
To achieve this using the ResourceMapper
- Rewrite the code to save all resources returned by the bundle
- Add a reference to the StructureMap in the questionnaire
- Add the new questions to the questionnaire
- Write the StructureMap to perform the extraction (Biggest task for the issue)

I agree, the issue falls between Size M to Size L depending on the learning curve and familiarity for the deve

[2021-09-01 07:58] #491 closed

[2021-09-01 12:12] ekigamba commented on #494
Work has not started

[2021-09-02 08:16] f-odhiambo commented on #406
I think part of the details lies here https://docs.google.com/document/d/1dl7VdPFsqRujSROEMGnN7gs4xRUzhEvra4XruX6PdRc/edit but Ill let
@isabelcshaw review and revert back

[2021-09-02 08:29] maimoonak commented on #406
I see the form fields are defined and provides details about constraints, names, relevances. However, these are mapped to openmrs concepts. We need to map the concepts to LOINC or SNOMED codes.

[2021-09-03 09:28] f-odhiambo commented on #177
**Some updates**
1. @RaaziaTarique to share with @kimigxfoxy the Patient profile XML
2. @kimigxfoxy You can add a label and button just under the CarePlan section
![image](https://user-images.githubusercontent.com/4540684/131983354-b5ef01f9-99ab-4f7c-9261-fb8a596d49b9.png)

[2021-09-03 10:38] RaaziaTarique commented on #286
@kimigxfoxy shared ANC details xml with you check slack.

[2021-09-03 10:40] RaaziaTarique commented on #177
@kimigxfoxy  shared ANC details xml with you. Please check slack.

[2021-09-03 12:28] f-odhiambo opened #511 "[Roadmap] FHIRCore Documentation"
- [x] #438
- [x] #324
- [ ] #512
- [ ] #502
- [x] #1061
- [ ] #1062

[2021-09-03 12:30] f-odhiambo opened #512 "[Documentation] FHIR Core Technical Architecture"
Add FHIRCore technical architecture documentation

**Goals**
1. use for onboarding and team capacity building
2. QA, sales, and PMs need a reference point
3. help to make technical decisions on how to deliver projects

**Content to have**

1. Diagramatic explanation for the non-tech audience
2. Process diagrams to clarify workflows
3. Connect to use-cases and how servers projects
4. Architectural

[2021-09-03 12:48] #260 closed

[2021-09-06 05:34] kimigxfoxy commented on #177
@f-odhiambo I am waiting for this PR to be approved _https://github.com/opensrp/fhircore/pull/515_ so that I can pull develop and merge to my branch and the button from there. @RaaziaTarique Thanks

[2021-09-06 06:00] kimigxfoxy commented on #177
@f-odhiambo Test patient with anemia https://fhir.labs.smartregister.org/fhir/Patient/1744/$everything.

[2021-09-06 17:23] f-odhiambo opened #516 "APK Release checklist for both Covax app and ANC MVP - Pre Release & Final"
**Covax Demo app**
- [x] User authentication
- [x] Sync in progress in Navigation drawer
- [x] Patient list with sync progress bar
- [x] On sync complete alert user
- [x] Pagination of the patient list
- [x] Filter by overdue immunization
- [x] Search First name, Last name
- [x] Patient enrollment
- [x] Record vaccine with correct alert dialog for Doses 1 & 2
- [x] One receive dose of vaccine refr

[2021-09-06 17:25] f-odhiambo commented on #516
Is it however noted that the Barcode implementation is not yet merged on the Andsropif FHIR SDK thus may be missing from the generated APK

[2021-09-06 17:46] f-odhiambo opened #517 "CHW/ANC SubTask - Record an ANC encounter when a CHW visits a family"

[2021-09-06 17:51] f-odhiambo opened #518 "CHW/ANC - Create a family visit encounter"
Here is a list of Household and Individual encounters

**Family services**
1. Monthly visits
2. Sanitation survey
3. Disease surveillance
4. Bednet distribution

**Create a Family visit encounter**
1. Pre-planned encounter / monthly

**Individual services**

1. Due services /activities
2. Create an encounter and service request e.g for a child who needs a referral for treatment and a later follow

[2021-09-06 18:04] f-odhiambo commented on #79
@pld Reopening this as not ready in FHIRCore

[2021-09-06 18:19] f-odhiambo opened #519 "[Documentation] Add Test data and use cases for Workflow API"
**Document sample use cases**  - Link [here](https://docs.google.com/document/d/18Rh7nXaUYtgDzY6gQ0PkXVd6N9cE8CEiurT2GOJ8Q14)
- [x] Multiple resource extraction
- [x] Search
- [x] Manage Encounters
- [x] Sync  - Subtasks & Test cases
- [x] Workflow API - Focus on immunization and ANC
- [x] Configurability

[2021-09-07 08:47] f-odhiambo opened #520 "CHW/ANC - Add location widget"
Tracking issues for [#800](https://github.com/google/android-fhir/issues/800)

[2021-09-07 09:17] f-odhiambo commented on #416
**Updated mocks and steps**
1. When you select a family member you will be presented with an empty profile page for the 1st time post registering them
<img width="265" alt="Screen Shot 2021-09-07 at 11 09 05 AM" src="https://user-images.githubusercontent.com/4540684/132316384-6e28f808-0114-4a56-b135-4b040f984f19.png">

2. Form the profile page you can mark the female member as an ANC Client. _NB.

[2021-09-07 09:40] f-odhiambo commented on #416
This ANC enrollment and adding the pregnancy details  triggers the application of the guideline, resulting in the creation of:
1. Condition
[code]
2. Episode of Care

[code]
3. Encounter
[code]
3. Goal
[code]
4. CarePlan - _To Be Discussed_

[2021-09-07 09:45] f-odhiambo commented on #406
@owais once the ANC flow is complete as described in the [comment](https://github.com/opensrp/fhircore/issues/416#issuecomment-914137757)  then create the following resources

1. Condition
[code]
2. Episode of Care

[code]
3. Encounter
[code]
3. Goal
[code]
4. CarePlan - _To Be Discussed_

[2021-09-07 09:58] f-odhiambo opened #521 "CHW/ANC SubTask - Remove a client from ANC register"
**_Mock attached_**

<img width="618" alt="Screen Shot 2021-09-07 at 11 10 21 AM" src="https://user-images.githubusercontent.com/4540684/132325530-083d77fa-1a74-4a5e-8cd2-2a5b35276e89.png">

[2021-09-07 10:44] shoaibmushtaq25 commented on #227
Hey @f-odhiambo  cc: @ekigamba ,  Do we have flexibility to use DateTime in place of only Date on the screen below because we have [date](https://www.hl7.org/fhir/immunization-definitions.html#Immunization.reaction.date) as dateTime type under [reaction](https://www.hl7.org/fhir/immunization-definitions.html#Immunization.reaction) of [Immunization](https://www.hl7.org/fhir/immunization.html) resou

[2021-09-07 12:35] pld commented on #79
This was closed via a PR, was something wrong with that PR?

[2021-09-07 12:41] rowo commented on #465
@ekigamba It sounds like the workflow may change after getting feedback from LMH that people were confused by the two buttons on the initial screen. The change would be having a single "connect" button where the handshake is complete (both sides confirming) — and then offering the user a way to send data. So in this case after a "handshake" is established, would it be possible if the receiving use

[2021-09-07 16:17] pld commented on #465
Going to assign to @isabelcshaw to follow-up on UI reqs, we want this to be the same sync UI for all projects

[2021-09-07 16:19] pld commented on #142
can't we cut our own release of the sdk to unblock this?

[2021-09-07 16:22] pld commented on #520
would this be useful in the Android FHIR SDK?

CC @jingtang10

[2021-09-07 16:32] maimoonak commented on #142
Martin has released it last week (i.e. own preview snapshot). Currently I am on it

[2021-09-07 18:53] jingtang10 commented on #520
Yeah absolutely. There are two parts to this

 - create a new widget that captures the location
 - have a sample questionnaire that has extraction set up that uses that widget

[2021-09-08 07:06] f-odhiambo commented on #227
@shoaibmushtaq25 We can change to DateTime format. Proceed

[2021-09-08 07:16] #142 closed

[2021-09-08 07:38] ekigamba commented on #465
@rowo I think this will be possible. The users will lose flexibility of choosing whether they want to send or receive the data. Additionally, we'll need to understand the data flow to engineer this into the apps so that it happen automatically

[2021-09-08 08:05] maimoonak commented on #416
ANC Enrollment Questionnaire - https://fhir.labs.smartregister.org/fhir/Questionnaire/1770

[2021-09-08 08:14] maimoonak commented on #416
@f-odhiambo in Family member registration we have a question 'is pregnant' if gender is Female. Do we want to use that well in decision making?n Or alternatively remove that. Also when we mark someone as pregnant we also add a Flag/Tag to their 'Patient' resource to allow querying them directly. Do we want to keep that or remove?

[2021-09-08 09:14] #403 closed

[2021-09-08 09:15] #517 closed

[2021-09-08 09:38] pld commented on #227
Do we want users to select a time, or do we keep the UI the same so they're only entering a date but we store it as a date time?

[2021-09-08 10:06] shoaibmushtaq25 commented on #227
I made the ui change, time to be entered by the users as shown below,
![Screenshot_20210908-145833_FHIR EIR](https://user-images.githubusercontent.com/12672919/132490208-104688ba-284f-4c54-b073-038b5c9aef22.jpg)

[2021-09-08 11:11] f-odhiambo commented on #287
Will track this in individual tickets @ekigamba @ndegwamartin

[2021-09-08 11:11] #287 closed

[2021-09-08 12:06] f-odhiambo commented on #521
@rowo Do you mind taking a look and proving new mocks based on the FHIRCore unified design language?

[2021-09-08 13:07] pld commented on #227
This this make sense from a user perspective? Will they know the time that the adverse event took place?

[2021-09-08 13:17] f-odhiambo commented on #416
@maimoonak I would propose this to be a classic use case for skip logic. If a patient is checked as pregnant then make visible and ask the ANC enrollment questions i.e (EDD, GA, Foetus count and Risks #288 ) and then save the relevant resources. They would appear in the ANC register and also they would have tags and references to the Condition - Pregnancy, Episode of Care and Encounter.

[2021-09-08 13:26] #286 closed

[2021-09-08 17:45] maimoonak opened #525 "Allow observation extraction from questionnaire response"
**Observation based extraction**

**Observations mapping in a questionnaire and response should be converted to fhir Observation resource**

Details here: http://build.fhir.org/ig/HL7/sdc/extraction.html#observation-based-extraction

[2021-09-09 06:15] shoaibmushtaq25 commented on #227
@pld Yeah, It's difficult to remember the exact time of the reaction.
In that case, we have two options

1. first one is showing both date and time on UI and user can enter the date and some random time of that date
2. second one could be showing the same UI as showing before (user have to enter only the date) and we should store it as DateTime instead (as you mentioned this above)

If we wanna pr

[2021-09-09 06:44] #501 closed

[2021-09-09 07:37] f-odhiambo commented on #521
@AbdulWahabMemon Kindly use the design language for FHIRCore but you can get the impression from the shared mock. I will let you know once the mock has been updated

[2021-09-09 07:50] f-odhiambo opened #527 "Standardized theme when app is in use in either Light mode or Dark mode"
**Describe the bug**
Need to standardize the app theme to be default in either dark or light theme. Applied in mostly data entry fields and questionnaires

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to  app setting and switch between light and dark mode
2. Check on Login page or select a questionnaire entry form

**Expected behaviour**
The proposal is to The theme should be standardi

[2021-09-09 07:51] f-odhiambo opened #528 "CHW/ANC - Create an Observation detail to collect vital signs information for a non-ANC client"
For non a non ANC client . Collect vitals and add them to their profile page as described in the mock.

On patient create , there will be no details on the profile page as decruibed in the mock
<img width="432" alt="Blank Care plan" src="https://user-images.githubusercontent.com/4540684/132647559-06650520-69df-469e-bfb2-681006fc8cc8.png">

On the menu item in the profile page, click on the add vit

[2021-09-09 10:20] maimoonak commented on #406
@dubdabasoduba  looks like we are creating an IG here. For IGs I have seen people provide templates and some modifiable properties like we do have for SDC Questionnaires. So for e.g. here Condition for us is our own custom IG fhir-pregnancy-condition. This ideally should provide default implementation/template and we should modify only subject/onset.

Rightnow we are using a json template into our

[2021-09-09 11:14] maimoonak commented on #406
@dubdabasoduba are we sending this info with login?
"individual" : {
  "reference" : "Practitioner/XXX"
}
@f-odhiambo what it should be for encounter? We already have a diagnosis with EpisodeOfCare, so can skip this if there is nothing specific to this visit...
  "diagnosis" : [
    {
      "condition" : {
        "reference" : "Condition/XXX"
      },
      "rank" : 1
    }
  ]

[2021-09-09 11:27] maimoonak commented on #406
@f-odhiambo it somewhat overlaps and contradict with the mocks attached in #416 . The first encounter can not determine #of fetuses unless an ultrasound is done. Also I think we can associate the Observations created in form with encounter created here (omitting fetuses).
We also need to think a way have EDD represented central to current episode of care as it is updated after ultrasound results o

[2021-09-09 11:41] f-odhiambo commented on #525
@maimoonak This sounds like an SDK task. Kindly clarify

[2021-09-10 00:59] pld commented on #227
OK I see why this is complex, I think for now let's leave it as a DateTime and come back to it if we get push back from the users or partners on having to enter the time.

[2021-09-10 01:03] pld commented on #525
do StructureMaps handle this?

[2021-09-10 01:16] pld commented on #416
Are we using StructureMaps to create the Condition, EpisodeOfCare, Encounter, and Goal from the QuestionnaireResponse?

For the scope of this issue, I don't think we need to flag/tag, that can be discussed/completed in an issue for functionality that requires it.

[2021-09-10 01:19] pld commented on #521
Because it is not in a milestone, can we unassign and wait on this?

[2021-09-10 01:20] pld commented on #406
Agree, this seems to be replaced by #416

[2021-09-10 06:24] f-odhiambo commented on #521
I would recommend using this as Small size ticket that will help one understand the principles of extraction and population and also a deep dive example. Its not a heavy lift and a good entry point

[2021-09-10 08:41] f-odhiambo opened #530 "Pending task post code refactor for Single APK approach"
- [x] Document new code structure per module
- [ ] Report test coverage for every module
- [ ] Refactor build configuration
- [x] Improve test coverage - Tracked by  #536

[2021-09-10 08:57] f-odhiambo commented on #527
@ellykits @syedowaisali90 Take note.

@rowo Kindly advise

[2021-09-10 09:53] ellykits commented on #527
I have disabled dark theme mode for now.

[2021-09-10 10:55] ekigamba opened #531 "Save patient registration bug"
### Observations

- The ResourceMapper is returning an empty bundle

[2021-09-10 11:41] #506 closed

[2021-09-10 12:12] #415 closed

[2021-09-10 15:29] ekigamba commented on #494
Fix was added in PR https://github.com/opensrp/fhircore/pull/523.

Need to add a state so that other processes requiring this are blocked until completion. This is an edge-case that might happen in fast app interactions and initial app interactions. This is not urgent as the current fix will sustain demo uses while a permanent fix for the issue is investigated

[2021-09-10 15:47] ndegwamartin opened #536 "Increase code coverage on FHIRCore"
**Unit tests/Code coverage**

- [x] Fix tests disabled on [this PR ](https://github.com/opensrp/fhircore/pull/523/)
- [ ] Improve code coverage by writing unit tests on EIR and/or ANC modules

[2021-09-10 15:49] pld commented on #527
I think disabling is sufficient, this feels very low priority

[2021-09-10 17:33] #288 closed

[2021-09-10 18:09] #531 closed

[2021-09-10 21:41] ndegwamartin opened #538 "Release EIR v0.0.8 | ANC v0.0.1"
**Bug fixes and Enhancements**

- [x] Fix issue EIR and ANC Registers not loading data _(Critical)_
- [x] Fix gender extraction from Patient resource
- [x] ANC questionnaire not showing title
- [x] Refresh register data after saving questionnaire
- [x] Localization of untranslated strings
- [x]  Disable register client button on app install
- [ ] Show loading dialog when first time sync is in prog

[2021-09-10 23:52] ndegwamartin opened #539 "Show loading dialog when first time sync is in progress"

[2021-09-11 00:46] #538 closed

[2021-09-11 08:12] ndegwamartin opened #540 "First time install sync complete bug"
**Describe the bug**
- On the first install after login, sync still shows as In progress and no data loads on the register.

**Workaround**
- Open the Nav drawer and click on the spinning sync button. This manual sync will trigger a sync that completes and loads the client register data.

**To Reproduce**
1. Do a fresh installation
2. Launch fhircore app and enter credentials
3. Click on the `LOGI

[2021-09-13 11:05] f-odhiambo commented on #516
**Covax review**
1. Questionnaire with Comorbidity risk flagging should only be visible for JnJ use case/workflow
2. Remove Comorbidity Questionnaire and related-person details  for WHO Covax demo and leave only patient details
3. Integrate barcode functionality - still missing
4.  Record vaccine questionnaire takes a while to load
5. Language switching not supporting radio buttons

**ANC Review**

[2021-09-14 13:23] f-odhiambo opened #543 "CHW/ANC - View Upcoming services"
View upcoming services for a patient by clicking view all from the patient profile. This will be retrieved from the patient's CarePlan

**View Patient profile and clock on view all**
<img src="https://user-images.githubusercontent.com/4540684/133267514-aa8b7558-6d6d-4f4d-9c53-296a6d525d0a.png" width="200" height="400" />

On click see all from the Upcoming services card show a list view of all upc

[2021-09-14 13:23] f-odhiambo opened #544 "CHW/ANC - View Past Encounters for an individual household member profile"
Query and view all the past encounters for a patient and add pagination or continous scroll view

**Access from menu item**

<img src="https://user-images.githubusercontent.com/4540684/133265687-8d0dbf9c-906b-469a-b9c3-cb400a84dcb2.png" width="200" height="400" />

**View past encounters**

- [ ] View status of the task  - check status field
- [ ] View detail of the encounter type  - check class.d

[2021-09-14 13:40] f-odhiambo commented on #543
This requires the app to be able to query tasks as scheduled/ generated  by the care plan

[2021-09-14 13:57] f-odhiambo commented on #312
More on Material design snack bar here https://material.io/components/snackbars/android#theming-snackbars

[2021-09-14 14:21] #473 closed

[2021-09-14 15:53] samkanga opened #545 "Setup Environment for the Turn Project"
**Describe the Issue**

- [ ] Identify the HAPI FHIR server to be used - https://fhir.labs.smartregister.org/
- [ ] Identify the NiFi instance to be used - https://nifi-stage.ona.io/nifi/
- [ ] Create a working account on Turn.io - TBD

[2021-09-14 15:56] samkanga opened #546 "Identify the APIs to work with on HAPI and Turn"
**Describe the Issue**

[2021-09-15 10:39] maimoonak opened #548 "Known issues with Family registration"
**Describe the bug**
Some known issues exist on Family Registration and ANC Flow which needs to be resolved

**Issues**

- [x] 1- Thousands of records may need a proper filter when syncing (Discussion Point)
- [x] 2- Questionnaire must have ONA as publisher OR may be any category as well for different apps (Discussion Point)
- [x] 3- Use Practitioner and CareTeam reference when added by the server

[2021-09-15 14:03] shoaibmushtaq25 commented on #227
Just to clear my understanding on one thing, @f-odhiambo @pld @ekigamba
We have 2 cases to report adverse events
1. Patient who has received only first dose of vaccine (Partially vaccinated), we receive a list of immunization of size 1 in that case.
2. Patient who has received two doses of vaccine (Fully vaccinated), we receive a list of immunization of size 2 in that case.

We show Report Adverse

[2021-09-15 14:49] pld commented on #227
it'd make sense to me to edit the 2nd (later dated) immunization resources, if we're assuming that the adverse event is tied to the most recent immunization given, which seems reasonable

[2021-09-15 15:42] rowo commented on #465
@isabelcshaw @ekigamba @pld  We should talk about this since Francis mentioned we should start needing it for the ANC work too (which goes into the LMH work). @HenryRae and I have started some exploration, but they aren't really informed by anything yet. One proposal was to look into how common apps used by CHWs/our clients do file transfer (ODK Collect, LMH Academy app, Android Beam, Nearby Share

[2021-09-15 16:33] pld commented on #465
Cool yes let's talk, I need to understand the argument for why this can't all happen in the background w/no new UI

[2021-09-15 16:33] rowo commented on #465
also i saw some conversation happening on slack.. not sure where that fits in

- With Trevor: https://onaio.slack.com/archives/C01JEDB8WTU/p1631716846053200
- Francis strategy: https://onaio.slack.com/archives/C01MJK0TWAG/p1631541051018300

[2021-09-15 20:28] f-odhiambo commented on #227
I think each adverse effect should be tagged to the immunisation to which you received and reacted. In the case of s single shot, a dual dose or a series of vaccinations, this may also apply. Not sure if this is what @pld  is alluding to but tagging it to the most recent vaccine may be erroneous. if indeed you are reacting to dose 1 and dose 2/n

@shoaibmushtaq25 does this create complexity in que

[2021-09-15 20:47] pld commented on #227
Cool, yeah I agree with Francis, that's what I was (convolutedly) alluding to.

If the assumption that the adverse event is related to the last received dose is incorrect, then I think we'd need a UI element to select the specific dose to attach the adverse event to

[2021-09-16 06:11] shoaibmushtaq25 commented on #227
Yeah, that's a good idea @pld to have a UI element for the selection of specific dose because adverse events would be attached to a specific dose.
One more thing to consider here that the patient/specific user can report multiple adverse events as [reaction](https://www.hl7.org/fhir/immunization-definitions.html#Immunization.reaction) against each immunization/dose because cardinality of reaction

[2021-09-16 08:25] f-odhiambo commented on #544
@ellykits I think this is a good candidate to showcase continuous scroll view/loading new details. Let me know what you think. Thanks

[2021-09-16 09:54] #290 closed

[2021-09-16 12:27] #276 closed

[2021-09-16 13:15] rowo commented on #521
@f-odhiambo
- Can we default the height field from the last taken value?
- Also, I think BMI is different for children vs. adults and the interpretation is different too.. should we focus this on adults only for now?

[2021-09-16 13:31] pld commented on #289
this is replaced by 406

[2021-09-16 13:31] #289 closed

[2021-09-16 14:28] f-odhiambo commented on #521
For Q1. Yes and for Q2. Let's focus on Adults for this POC

[2021-09-16 18:17] syedowaisali90 commented on #284
@f-odhiambo the above ui mock showing some `task/task overdue` in a family member item, have you know that where to get the task and I also want to know that which icon should be used based on the encounter

[2021-09-16 19:46] f-odhiambo commented on #284
Good point @syedowaisali90  At the moment you can use a generic icons which we can replace once the design team provides fresh icons.
On the second item about the tasks , the mock alludes that we shall be querying they patients plus the associated dues takes wether upcoming(green) or due (red) . This will be retrieved via careplan which you can omit for now and come back to it later

[2021-09-17 01:03] pld commented on #284
Cool so for now no Tasks, is there a discussion on how we'll do the Tasks in this card to add somewhere else? Putting it below for now.

I think there's also an open question of whether we link a Task directly to a Patient. The .for field of a Task would be appropriate for this, alternatively we'd have to look for the appropriate CarePlan attached to the Patient (or maybe any CarePlans attached to

[2021-09-17 06:46] ekigamba commented on #465
@rowo It seems this work is being taken over by the SA team

[2021-09-17 08:58] maimoonak commented on #525
Yeah. This is SDK task where SDK should provide Observation based extraction.
Structure Map also handles this.

There are three ways to handle extraction

http://build.fhir.org/ig/HL7/sdc/extraction.html#designing-questionnaires-to-support-data-extraction
- Observation-based
- Definition-based
- StructureMap-based

[2021-09-17 09:11] f-odhiambo commented on #518
An encounter has only one subject i.e Cardinality of 0..1.  more details  [here](https://www.hl7.org/fhir/encounter-definitions.html#Encounter.subject). For this, I propose for household tasks we lump everything in an encounter and tag to the head of household and for individual tasks each family member will have a new encounter created and tracked in their individual CarePlan

[2021-09-17 09:16] f-odhiambo opened #552 "CHW/ANC - Create a FHIR Questionnaire for Home visit"
Based on the form dictionary available [here](https://docs.google.com/spreadsheets/d/1vMCTQTfh4NN0IgtUWPGeU1uxreUgXPCGbiy59exNV7E/edit#gid=1519733423) create a Questionnaire for a Home visit to flag and collect info on
- [ ] Danger signs check
- [ ] Set birth plan
- [ ] Healthy eating counselling
- [ ] Supplement counselling
- [ ] ANC facility visit check

**Subtask**
- [ ] Author questionnaire
-

[2021-09-17 10:02] f-odhiambo opened #553 "CHW/ANC - Create a FHIR Questionnaire to record pregnancy outcome and create new Patient(s)"
This questionnaire will  be used to :
- [ ] Record a pregnancy outcome details
- [ ] Create new patient(s) record for newborn(s)

Form dictionary available [here](https://docs.google.com/spreadsheets/d/1vMCTQTfh4NN0IgtUWPGeU1uxreUgXPCGbiy59exNV7E/edit#gid=1097941285)

NB. Multiple resource extreaction will be required here

[2021-09-17 10:05] f-odhiambo commented on #553
Based on the below mock
<img width="618" alt="Screen Shot 2021-09-07 at 11 10 21 AM" src="https://user-images.githubusercontent.com/4540684/132325530-083d77fa-1a74-4a5e-8cd2-2a5b35276e89.png">

1. If multiple births do we need to create a nested form that will be used to record the new children born ?
2. Do we create a new patient record and mark deceased if child dies or stillbirth?

CC @isabelcs

[2021-09-17 10:12] f-odhiambo opened #554 "CHW/ANC - Disaggregated search, view matching Family or Client name"
Create a search that filter both the Family and ANC client register and show categorised search results as shown in the mocks

**Acceptance criteria**
- [ ] Ability to show recent search
- [ ] On view all go tho a list view that has a list of matching criteria either family name or ANC client name
- [ ]  If a name is not found then create a new family by enrolling a new head of household and membe

[2021-09-17 11:07] maimoonak opened #555 "Add / update missing or conflicting properties into Patient, Observation resources for ANC Patients"
**Make Patient resources compliant with data being by ANC CQF work**

**Current Patient profiles are not 100% compliant with requirements for CQF ANC**

Some of the conflicting attributes are:

- [ ] 1 - Profile not set to "http://fhir.org/guides/who/anc-cds/StructureDefinition/ancpatient" (Bryn in one of the discussions mentioned that Profiling is not the best and recommended approach)
- [x] 2 -

[2021-09-17 11:56] f-odhiambo commented on #552
We will need to confirm wether the following alerts(info, warning) and multi-select inputs can be configured to SDC. See screenshots attached
<img width="266" alt="Screen Shot 2021-09-17 at 2 54 07 PM" src="https://user-images.githubusercontent.com/4540684/133778725-4aea25ab-140c-456f-a883-2d9c0a499544.png">

<img width="266" alt="Screen Shot 2021-09-17 at 2 54 15 PM" src="https://user-images.gith

[2021-09-17 14:11] pld commented on #525
We can use Definition-based if that's simpler

[2021-09-17 14:12] pld commented on #525
In which case this would not be an SDK issue, since defining how a QuestionnaireResponse converts to an Observation is a implementation task that goes into a Questionnaire in HAPI and gets synced down to the app (or will when we implement that)

[2021-09-19 16:34] f-odhiambo commented on #555
@maimoonak this looks ok I will seek Brynn's advise and also pose it on the WHO Tuesday call about codable concepts and the usage of SNOMED/LOINC codes.

Also to note here that there is a thin boundary of what EMRs are supposed to do in comparison to an ANC app so will seek clarification on the same in subsequent calls

[2021-09-20 07:46] HenryRae commented on #544
@f-odhiambo were are we showing [these](https://github.com/opensrp/fhircore/issues/544#issuecomment-919156949) encounters?
If it's in that "past encounters" section then I think we don't need to show some statuses since it's **PAST** encounters.
I think maybe there's need for us to discuss if we need all these statuses.

cc: @rowo

[2021-09-20 08:46] maimoonak commented on #275
The family list in first mock is shown with PR https://github.com/opensrp/fhircore/pull/547.

The navigation is yet to be decided and would be implemented across app.

![Screenshot from 2021-09-20 13-44-56](https://user-images.githubusercontent.com/4829880/133976558-4f2d11a9-622d-446e-9ee3-c294e50df294.png)

@f-odhiambo

[2021-09-20 08:48] maimoonak commented on #408
https://github.com/opensrp/fhircore/pull/547 Resolved in this PR
![Screenshot from 2021-09-20 13-47-37](https://user-images.githubusercontent.com/4829880/133976916-1f08da95-0204-4912-a0ae-166f662114e8.png)

@f-odhiambo

[2021-09-20 08:52] maimoonak commented on #416
https://github.com/opensrp/fhircore/pull/529 Resolved with this PR

![Screenshot from 2021-09-20 13-51-13](https://user-images.githubusercontent.com/4829880/133977369-a34b555c-3073-4a65-a299-984108db75b4.png)

[2021-09-20 08:55] maimoonak commented on #285
https://github.com/opensrp/fhircore/pull/547 - Family , head and member registration was done with this PR https://github.com/opensrp/fhircore/pull/547. We can not change HHH for now. At what point we should change it and what should be the flow. i.e. we need to make deallocate first and allocation next in same flow

@f-odhiambo

[2021-09-20 09:20] f-odhiambo commented on #544
Hi, @HenryRae This is accurate. You can progress based on the discussion we had on the call, to add icons for encounters that have been done in the past or cancelled. Future tasks may not apply here

[2021-09-20 09:26] f-odhiambo commented on #544
@HenryRae For upcoming services/encounters will update the icons for this tickets #543

[2021-09-20 09:44] f-odhiambo opened #558 "Update Vaccine codes and Manufacturer for the Covax demo app"
Add Vaccine codes to the various Vaccine options questionnaire that will be submitted in the Immunization resource payload once a patient received a vaccine shot. This is for the 4 options in the current demo

**1. Pfizer**

**Code**
[code]

**Manufacturer** - Changes per country. For demo use

[code]

**2. Moderna**

**Code**
[code]

**Manufacturer** - Changes per country. For demo use

[code]
**

[2021-09-20 10:04] f-odhiambo opened #559 "Add practitioner and location details to the Immunization payload"
1. Get practitioner details when a user logs in to be able to tag his/her ID when an encounter or immunization resource is created #560
2. We could potentially use this #520 to add the location of where the vaccine is being administered, however,for this proof of concept  will be retrieving both the practitioner and facility location at login

Then we shall have them linked to the immunization res

[2021-09-20 10:10] f-odhiambo commented on #488
Items 1, 7 & 9 are to be tracked in new tickets #558 & #559

cc @ekigamba

[2021-09-20 10:16] maimoonak opened #560 "CHW/ANC - Add CareTeam and Practitioner to templates before posting resource to HAPI"
**Describe the bug**
The ANC enrollment for #288 does not save CareTeam and Practitioner rightnow. Add these to templates from logged in user info

[2021-09-20 11:01] #530 closed

[2021-09-20 12:55] maimoonak commented on #548
@ellykits I noticed the issue on sync is due to this line in engine -> FhirResourceConverter

[code]

Basically the data after insert is the resource itself and not the bundle resource. Any reason it is casting to Bundle?

![Screenshot from 2021-09-20 17-34-15](https://user-images.githubusercontent.com/4829880/134005673-93f1440c-3cb5-472a-91bf-45d859f2aa17.png)
![Screenshot from 2021-09-20 17-33-4

[2021-09-20 13:42] ndegwamartin commented on #431
@f-odhiambo closing this as is implemented [here](https://github.com/opensrp/fhircore/blob/main/docs/contributing.md)

[2021-09-20 13:42] ndegwamartin commented on #431
This as is implemented [here](https://github.com/opensrp/fhircore/blob/main/docs/contributing.md)

[2021-09-20 13:42] #431 closed

[2021-09-20 13:47] ndegwamartin commented on #219
Closed by https://github.com/opensrp/fhircore/pull/262

[2021-09-20 13:47] #219 closed

[2021-09-20 13:47] ndegwamartin commented on #25
Closed by https://github.com/opensrp/fhircore/pull/262

[2021-09-20 13:47] #25 closed

[2021-09-20 13:54] ndegwamartin commented on #548
@maimoonak would casting to `Resource` type instead solve it without breaking the app?

[2021-09-20 14:47] f-odhiambo commented on #177
Part of the integration to ANC for this POC missing @kimigxfoxy to integrate into a new PR  - Access the evaluation from an ANC patient  profile page

cc @kimigxfoxy

[2021-09-20 14:50] kimigxfoxy commented on #177
Library evaluator class merged using PR https://github.com/opensrp/fhircore/pull/557
Next step is adding information to anc details fragment

[2021-09-20 14:54] #416 closed

[2021-09-20 14:55] pld commented on #285
Let's start a new issue or changing HHH

[2021-09-20 14:55] #285 closed

[2021-09-20 15:34] #188 closed

[2021-09-20 16:11] maimoonak commented on #525
@pld For the sake of completion of task I have added written a class that does this conversion for us. This can be done with Observation based or Structure Map based only. With definition based problem is each field maps to one property which would be obs.answer only. and we have several observations into one form and trying adding those would make the questionnaires lengthy and difficult to manag

[2021-09-20 16:27] maimoonak commented on #548
I guess no! But SDK class src/main/java/com/google/android/fhir/reference/api/FhirConverter.kt does implementation of this.

[2021-09-20 16:28] maimoonak commented on #548
7- Implement SDK changes into data load for tags (Maimoona)
8- Add careplan based on activity detail of Careplan (Maimoona)

Above would be resolved by #556

[2021-09-20 16:42] maimoonak commented on #406
@pld @f-odhiambo @dubdabasoduba The implementation of these resources was done including CarePlan with #288 and #416 . However, this is done with templates used on mobile side. We need to find out a way to create these IGs or Templates or Workflow  on server and then use those. i.e. load template from DB instead of assets folder. Initially I had thought to use the URLs inside WHO guide itself but

[2021-09-20 16:59] pld commented on #406
sounds like this may overlap with some of the upcoming work on Quest, or at functionality we build for that may be related to organizing and loading of resources useful to this

[2021-09-21 06:02] shoaibmushtaq25 commented on #227
@f-odhiambo , Can you please advise that what should we do in the case of **Others**?
when a user doesn't select a adverse reaction from a pre-populated list given below but he selects **Others**
1. Anaphylaxis
2. Blood clots
3. Myocarditis
4. Pericarditis
5. Heparin-induced thrombocytopenia (disorder) Thrombosis (disorder)

Should we skip others for now or whats the better approach to cater this?

[2021-09-21 06:36] f-odhiambo commented on #227
I think we can skip the other category for now till we see how other IGs are using it. We can open another ticket to track this
CC @shoaibmushtaq25

[2021-09-21 07:31] RaaziaTarique commented on #528
Should we record all vital signs at same time or one at a time? @f-odhiamb
![Screenshot_1632209288](https://user-images.githubusercontent.com/89384079/134129974-bfb3ebe2-2b29-43af-aec4-12aef18a3711.png)
o

[2021-09-21 07:37] RaaziaTarique opened #561 "CHW/ANC - Extract vital signs observations and encounter using StructureMap"
Origin Issue #528

Sample Observation:
https://www.hl7.org/fhir/observation.html
https://www.hl7.org/fhir/observation-example.json.html
http://hl7.org/fhir/us/core/2021Jan/Observation-blood-pressure.json.html
https://www.hl7.org/fhir/observation-example-f001-glucose.json.html
https://www.hl7.org/fhir/observation-example-satO2.json.html

CC: @f-odhiambo

[2021-09-21 07:43] f-odhiambo commented on #528
I think this could capture multiple at a time. For the purposes of this POC we can do one at a time

[2021-09-21 09:16] #185 closed

[2021-09-21 09:16] #79 closed

[2021-09-21 12:24] f-odhiambo commented on #544
@syedowaisali90 Here are updated [images](https://drive.google.com/drive/folders/1l4MHDUqo78uS9ZPo-lgJISnaZBGrMtnM?usp=sharing) and icons for update and also updated mock

<img width="465" alt="Screen Shot 2021-09-21 at 3 15 24 PM" src="https://user-images.githubusercontent.com/4540684/134169824-8fa2dfc0-fd04-4b60-ba5c-1ecb5b04c548.png">

[2021-09-21 14:12] #545 closed

[2021-09-21 19:55] pld commented on #528
do we have validation in the form to restrict the range for these? e.g. weight can't be negative

[2021-09-22 07:09] ndegwamartin opened #565 "Update codebase documentation"
**Documentation**

- [ ] ~Restructure change log based on existing multiple modules~ [See the comment here](https://github.com/opensrp/fhircore/issues/565#issuecomment-931106536l)
- [x] Update coding standards documentation

[2021-09-22 08:44] RaaziaTarique commented on #528
@pld yes we can set minimum and maximum value for integer input fields.

[2021-09-22 12:34] ekigamba commented on #558
- Suggested COVID-19 vaccine codes link https://icd.who.int/dev11/l-m/en#/http://id.who.int/icd/entity/1802851204
- Current WHO value set https://worldhealthorganization.github.io/ddcc/ValueSet-who-ddcc-vaccines-covid-19.html

[2021-09-22 14:16] #284 closed

[2021-09-22 14:20] pld commented on #528
Cool, do you have the limits we want these fields defined? Or do we need to define those?

CC @isabelcshaw

[2021-09-22 14:53] rowo commented on #553
Pregnancy outcome form: https://docs.google.com/spreadsheets/d/1vMCTQTfh4NN0IgtUWPGeU1uxreUgXPCGbiy59exNV7E/edit#gid=1097941285

Figma mockups: https://www.figma.com/file/QZ4cdpgBNy86XTOUnrnLap/COVID19-FHIR-Future-Design-System?node-id=3426%3A34064

![CHW - due](https://user-images.githubusercontent.com/1584163/134367152-5a39823f-22ce-4052-89da-9899e9972467.png)

![CHW-WRA - preg outcome-2](https:

[2021-09-22 15:17] RaaziaTarique commented on #528
@pld I don't have such limits for any of the vital signs.

[2021-09-22 15:19] pld commented on #528
Cool, @isabelcshaw can you note the limits we should enforce for these fields?

[2021-09-22 17:00] f-odhiambo commented on #553
Quick thoughts : This approach for adding births via an incremental count may not be supported by FHIR questionnaire, may need a custom approach

@rowo @HenryRae

[2021-09-22 19:40] isabelcshaw opened #567 "Quest v0.1: Patient Registration"
_This issues handles all work required to register a patient._

**Expected workflow:** when the end user is on the patient list view, there is a button that says "add new client." Hitting that button will open the patient registration questionnaire. Filling out the questionnaire and hitting save will create a new patient. UI around workflow and registration form below.

**Registration data:** for

[2021-09-22 19:49] isabelcshaw opened #568 "Quest v0.1 / G6PD: Patient List View"
This issue covers two main components of patient management: the patient list view and the patient profile view

**Patient List View:** when logging into the app, the user can see a list of all registered clients.
There does not need to be any custom logic for the order in which patients are shown. We do not need the ability to filter this list. We DO need the ability to search this list by name.

[2021-09-22 20:04] isabelcshaw opened #569 "Quest v0.1 / G6PD: Authentication"
This issue includes all work required to allow a user to log in and out of the Quest / G6PD application.

**Login / Logout UX:**
Pull in the ability for an end user to log into the app via a username and password.
Pull in the ability for an end user to log out of the app via an option in the settings menu in the bottom right navigation.

Reuse the current login UI
<img width="259" alt="Screen Shot

[2021-09-22 20:09] isabelcshaw commented on #569
@rowo the [Quest mocks here](https://docs.google.com/presentation/d/166OtwGqN_ZnaT6qT4TcF6t75qO4pVVnsTYCmT5WbsLQ/edit#slide=id.gf01d0db526_0_120) represent a shift to the bottom navigation only. Was this a design system decision for how we wanted to handle our simpler apps? (just want to confirm navigation as it relate to the settings functionality for this case)

If so, then my understanding is t

[2021-09-22 20:29] isabelcshaw commented on #568
@rowo with the strategy in mind of working to deliver G6PD by building the core of Quest, we need to determine what an acceptable patient view looks like for both solutions. It looks like the core components are the same (we can reuse the patient demographic details piece at the top), so it's really just navigating the difference between a patient view with a bunch of questionnaires versus a speci

[2021-09-22 21:14] isabelcshaw opened #570 "Quest v0.2 / G6PD: test results questionnaire"
This issue covers all work required to open, present, and submit the G6PD questionnaire.

**_As an end user, when I select the G6PD form, I want to be able to fill in the required fields and submit the questionnaire._**

Most updated mocks of the questionnaire live in [this Figma project](https://www.figma.com/file/PDv9RjEun7Y7Xhqzt48EOB/COVID19-FHIR-Future-(All-Sandbox)?node-id=2202%3A11979).

<i

[2021-09-22 23:43] pld opened #571 "Quest v0.1 / G6PD: Publisher based Questionnaire sync"
**Is your feature request related to a problem? Please describe.**
As a developer, I want to be able to sync and trigger Questionnaires based on a variable assigned to the logged in user and variables assigned to Questionnaires.

**Describe the solution you'd like**
- Assign a `publisher` to users (eg somewhere in the user profile we list their `publisher`) and then when that user logs in we sync

[2021-09-22 23:44] pld commented on #567
Updated to add description of form launch strategy, labelled as blocked by #571

[2021-09-22 23:46] pld commented on #569
No keycloak setup needed, we can use the existing keycloak and create a `g6pd-demo` user (or named whatever) that has a `g6pd` publisher field somewhere in it so it aligns with #571

[2021-09-22 23:50] pld commented on #568
We can use a synced file to control the display here if we need, i.e. what fields are shown can be defined through a file that's synced for the "app" the login user is assigned to.

For the Quest UI shown here, does that list of forms show on the bottom of the profile? Is that preferred to having a "record data" button, or something, and then opening up a screen to select the form?

The config we

[2021-09-23 00:01] pld opened #572 "Quest v0.2 / G6PD: Show images in a Questionnaire"
**Is your feature request related to a problem? Please describe.**
As a project manager, I want to write forms that render an informational or instructional image defined in the Questionnaire or at least in a dynamic way.

**Describe the solution you'd like**
- The [QuestionnaireItemType](https://www.hl7.org/fhir/codesystem-item-type.html#item-type-attachment) includes an `attachment` type that de

[2021-09-23 06:13] f-odhiambo commented on #558
1. Type of vaccines listed in the spec (will be updated with new ICD-11 codes) https://worldhealthorganization.github.io/ddcc/ValueSet-who-ddcc-vaccines-covid-19.html
2. Vaccine codes have also been created in ICD -11: https://icd.who.int/dev11/l-m/en#/http://id.who.int/icd/entity/1802851204
3. Presentation Carl shared: https://docs.google.com/presentation/d/1WRjcGzeX5TQdj2mkVI8o-XJlyVR70L0BVrzn9H

[2021-09-23 07:57] f-odhiambo commented on #572
There are a few leads here from the StructureDefinition-cpg-shareablequestionnaire
1. http://hl7.org/fhir/uv/cpg/StructureDefinition/cpg-itemImage
2. http://hl7.org/fhir/uv/cpg/StructureDefinition/cpg-responseImage

[2021-09-23 08:18] f-odhiambo commented on #572
From the Zulip FHIR Chat  - link [here](https://chat.fhir.org/#narrow/stream/179166-implementers/topic/Questionnaire.20with.20Images.2Fattachments/near/254054734)
`Seems also valueAttachment would need to be base64 encoded. Typically they wouldn't be rendered inline, though I suppose they could be.`

[2021-09-23 09:27] maimoonak commented on #571
From Mobile and FHIR protocol stand point, yes we can filter Questionnaires by context, publisher, jurisdiction, profile, tag etc ([see others](https://www.hl7.org/fhir/questionnaire.html#search)).
However, we need to see how user/practitioner can be assigned these params and send with profile details from server. @dubdabasoduba . If any of these are sent with profile we can use and send that as f

[2021-09-23 13:27] pld commented on #565
I don't think it's worth the time to retroactively update the changelog, let's just do it going forward

[2021-09-23 14:13] #544 closed

[2021-09-23 14:16] ndegwamartin opened #573 "UI Test cases (Composable)"
**We are using this ticket to track the non tested classes from the composer bug**

- [x] [FamilyDetailScreen](https://github.com/opensrp/fhircore/blob/main/android/anc/src/main/java/org/smartregister/fhircore/anc/ui/family/details/FamilyDetailScreen.kt)
- [x] [EncounterListScreen](https://github.com/opensrp/fhircore/blob/main/android/anc/src/main/java/org/smartregister/fhircore/anc/ui/anccare/enc

[2021-09-24 11:04] ellykits opened #576 "Fix error building project"
Application failed to install throwing this error when you build the project from Android Studio

[code]

[2021-09-24 13:14] pld commented on #555
Is there an update here from the CPG call?

[2021-09-24 13:20] #576 closed

[2021-09-25 08:21] f-odhiambo commented on #406
@pld I will close a majority of the issues as we close the sprint on Monday and begin a new one

[2021-09-27 10:10] #177 closed

[2021-09-27 13:23] f-odhiambo opened #577 "[Roadmap] FHIRCore Milestone 13"
At the end of this milestone, we expect to have accomplished 80% of the below-listed items

**WIP to complete**
- [ ] Work on [Sprint 13](https://github.com/opensrp/fhircore/milestone/24)

[2021-09-27 13:31] #508 closed

[2021-09-27 13:32] #400 closed

[2021-09-27 13:56] pld commented on #525
Can we close this issue?

[2021-09-27 13:58] pld commented on #520
Is there an issue in Android FHIR SDK that this links with?

[2021-09-27 14:38] Kigamba commented on #572
@pld It seems like `attachment` question type is used for uploading file attachments. Here is an illustration http://build.fhir.org/ig/HL7/sdc/examples.html#using-mimetype-and-maxsize.
However, we have the other options for rendering images using the following extensions:
- `rendering-xhml` extension [illustrated here](http://build.fhir.org/ig/HL7/sdc/examples.html#using-answeroption-and-rendering

[2021-09-27 14:40] ekigamba commented on #572
@pld It seems like `attachment` question type is used for uploading file attachments. Here is an illustration http://build.fhir.org/ig/HL7/sdc/examples.html#using-mimetype-and-maxsize.
However, we have the other options for rendering images using the following extensions:
- `rendering-xhml` extension [illustrated here](http://build.fhir.org/ig/HL7/sdc/examples.html#using-answeroption-and-rendering

[2021-09-27 14:41] pld commented on #572
Ok gotcha, thanks that's very clear, I thing @jingtang10 pointed out the same thing on our call, but I didn't understand it at that point. For this issue, I think `itemImage` is what we want, we will want to use `reponseImage` in another issue where we want the user to upload an image of the device.

For displaying an image that's encoded in a Questionniare, what are the pros/cons of `rendering-xh

[2021-09-27 15:24] ekigamba commented on #572
### itemImage
- Allows us to display an image together with text on the same question
- Has a smaller scope since it is implemented at the `Item.extension` location for all questions
- Seems easier since we only need to fetch the image and/or render the image
- Maturity level is draft(0)

### rendering-xhtml
- Allows us to display styled text or elements, such as images, under the xhtml standard a

[2021-09-27 16:45] pld commented on #572
Although I could see value from xhtml, I think I'd favor going with the simpler `itemImage` for now, what do you think?

Should we (do we need to) implement this in Android FHIR SDK?

Also, @jingtang10, do you prefer an approach?

[2021-09-27 18:31] ellykits commented on #505
The approach we have taken is to deactivate the register button until first time sync is complete.

[2021-09-27 18:33] ellykits commented on #505
We may in future load default questionnaire from the assets directory as fallback to allow offline registration before the first time sync.

[2021-09-27 20:00] f-odhiambo commented on #505
Do we have a progress bar to give the use feedback on background processing?

[2021-09-27 20:15] ellykits commented on #505
![Screenshot_1632773654](https://user-images.githubusercontent.com/26865532/134978566-947d4b5c-1130-4dd1-80e7-522db2a9e30d.png)

[2021-09-28 06:30] #488 closed

[2021-09-28 06:35] maimoonak commented on #525
Nopes. This is not done.

[2021-09-28 10:46] pld commented on #525
OK, @f-odhiambo is there any urgency on this? Otherwise, I think we can take it out of the current milestone

[2021-09-28 10:48] f-odhiambo commented on #525
Will add some updates here once I have a check-in with Abdul and Raazia who's work is dependent on this

[2021-09-28 12:17] trevorgowing commented on #571
Hi @maimoonak. I would like to support with this issue if I can.

You seem to have a good grip on the requirements.

I will appreciate a quick intro to the fhircore app and a briefing on the issue if you have some time this afternoon or tomorrow morning.

[2021-09-28 13:54] f-odhiambo commented on #520
Yes there is now [#800](https://github.com/google/android-fhir/issues/800)

[2021-09-28 14:46] trevorgowing commented on #571
@pld @f-odhiambo So @maimoonak very graciously gave me a bit of run through of what is required here.

What we discussed was a incremental solution:

1. Filter Questionnaires by `publisher=g6pd` hard-coded.
2. Persist user publisher in shares preferences.
3. Filter Questionnaire by persisted user publisher preference.

Please share any comments or thoughts.

@f-odhiambo Please would you assist in

[2021-09-28 15:29] ekigamba commented on #572
Yes, I also agree that `itemImage` is simpler for now. We need to implement this in Android FHIR SDK since the rendering for the current question types is handled there

[2021-09-28 16:35] f-odhiambo commented on #408
Done

[2021-09-28 16:35] #408 closed

[2021-09-28 16:36] f-odhiambo commented on #275
Done

[2021-09-28 16:36] #275 closed

[2021-09-28 17:35] pld commented on #571
That sounds reasonable. Do you have any thoughts on using `category` to manager where the app should load a specific Questionnaire?

[2021-09-28 17:36] pld commented on #572
OK that sounds good, can you open an issue for this in the Android FHIR SDK and start work there?

We'll tag and self-release the branch with WIP while it's going through CR in the SDK repo

[2021-09-28 18:15] trevorgowing commented on #571
@pld Unless I am missing something, [Questionnaire](http://hl7.org/fhir/questionnaire.html) doesn't have a category field.

Do you not think that perhaps identifier would be a better fit?

[2021-09-29 00:51] pld commented on #571
Ah good point, @maimoonak did I mishear you, I thought you mentioned another field to hold info in on the call?

I wonder what the best place to store additional metadata that represents where in a workflow to load the Questionnaire? Identifier certainly seems like a contender, looking at the resource, I've listed some field options below:

1. identifier (multiple values)
2. publisher (single valu

[2021-09-29 06:15] #516 closed

[2021-09-29 06:37] ekigamba commented on #572
Cool

[2021-09-29 08:11] dubdabasoduba commented on #571
https://github.com/opensrp/web/issues/585 This describes the current practitioner payload that is created from the web.

[2021-09-29 09:10] trevorgowing commented on #571
So we had a conversation including @f-odhiambo @ndegwamartin @maimoonak @dubdabasoduba on how to represent the publisher on the server. Our conclusion was to use user roles in keycloak. @dubdabasoduba Did raise some concerns about the scalability of the approach in the context of the single apk approach and requested that some additional thinking been done on this.

So the implementation that I am

[2021-09-29 09:22] trevorgowing commented on #571
@pld @maimoonak If we are using the publisher to represent the author/organization that created/designed the Questionnaire which I think it the right way to go, I don't think that it should be used to represent the stage in the workflow. I think that [`useContext`](https://hl7.org/fhir/metadatatypes.html#UsageContext) sounds like the correct field to me.

[2021-09-29 09:44] ndegwamartin commented on #571
@dubdabasoduba for the concern you raised earlier about alignment of the _fhircore_ vs _quest_ auth flow for questionnaires in relation to the Single APK approach, I think we can solve it by only syncing down questionnaires based on the module configuration . i.e. at the point where we have the configurations for which modules _(anc, eir e.t.c)_ the specific deployment should have, we should also

[2021-09-29 09:45] ndegwamartin commented on #571
I guess another important question would be do we envision a situation where the **quest mode** and the **Single APK mode** are not mutually exclusive? cc @pld @f-odhiambo

[2021-09-29 09:46] ndegwamartin commented on #571
I guess another important question would be, do we envision a situation where the **Quest mode** and the **Single APK mode** _are not_ mutually exclusive? cc @pld @f-odhiambo

[2021-09-29 10:09] ekigamba commented on #572
## SRS for `itemImage` extension support

1. The Android FHIR SDK should be able to support the following variations of attachments

Sample questionnaire #1

A url to the image(unsecured)
[code]

Sample questionnaire #2 (Priority support)
A url to the Binary resource. An Binary JSON example is [here](https://www.hl7.org/fhir/binary-f006.json.html). This enables us to have smaller questionnaires an

[2021-09-29 11:53] owais-vd opened #583 "Fix OutOfMemoryException"
**Describe the Issue**

We are having **OutOfMemoryException** on two test files in this PR #541 that need to be investigated.

- [x] [StructureMapTestUtilities](https://github.com/opensrp/fhircore/blob/issue-536/android/eir/src/test/java/org/smartregister/fhircore/engine/StructureMapTestUtilities.kt)
- [x] [DateTimeExtensionTest](https://github.com/opensrp/fhircore/blob/main/android/engine/src/te

[2021-09-29 12:02] #536 closed

[2021-09-29 12:20] AbdulWahabMemon commented on #521
@f-odhiambo
As per this ticket, for saving FHIR resource can I have sample encounter resource for BMI computation to be map which is mentioned as to be reviewed under acceptance criteria.
- The Encounter resource for BMI computation - To be reviewed

[2021-09-29 12:54] pld commented on #572
Awesome looks good, looks like work is progressing on the Android FHIR SDK issue, let's try and quickly get that to a state were we can use the branch in FhIR Core while it's being reviewed

[2021-09-29 14:03] pld commented on #571
@ndegwamartin yes I think that is possible but we don't enough information, we discussed this a bit in our Quest architecture call, I see the work we're doing now as a way to see if Quest can be the single app, if we can get it configurable enough to be that.

@trevorgowing @dubdabasoduba I also think we should go with `useContext` to keep `publisher` available for it's semantically appropriate va

[2021-09-29 14:29] f-odhiambo opened #585 "Quest v0.1 / G6PD: Patient Profile View"
**Patient Profile View:** when selecting a patient from the list view, the user can see that patient's profile.
For the moment, the patient profile will be quite simple - we just need to visualize the patient's demographic information. For this scope, we don't need to implement editing or removing patients unless we get this for free.

(mock from G6DP, exact details TBC)
<img width="223" alt="Scre

[2021-09-29 14:30] trevorgowing commented on #571
@pld @ndegwamartin @dubdabasoduba Just a heads up. We had to configure keycloak to expose the roles in the `userInfo` endpoint. We have done that now for the `FHIR_Android` realm as you can see below.

[code]

[2021-09-30 06:43] maimoonak commented on #568
Using this for loading config now
[code]
Would load it from FHIR binary resource now (most probably). @f-odhiambo Plz create a ticket for server side as well so that we take this as input from user.
@f-odhiambo @pld Do we need to load columns  for list from json as well, if so we may need to make design a little more consistent and simpler (e.g. may be just allow text size, and column weight, and

[2021-09-30 08:55] f-odhiambo commented on #568
@maimoonak based on our discussions,

1. On loading configs - Loading the config looks ok to me and we could use a binary or a FHIR Basic resource or your proposal.  With regards to tweaking  the design and layout, we may need some RnD to be able to see how this could work  and what interface would be required to support a user to make customisation  and edit configs
2. I am not sure how the confi

[2021-09-30 09:13] ndegwamartin commented on #565
For updates to the multiple modules, since we envision a single APK in future, all the updates should preferable go to the same [CHANGELOG.md](https://github.com/opensrp/fhircore/blob/main/CHANGELOG.md) file.

We can approach it by adding the module name before the update separated by a pipe character
e.g. `ANC | Add Family Member Profile`

[2021-09-30 10:34] pld commented on #568
Let's constrain the scope, what you have is more than enough, let's  only do that for now.
﻿
All the column and style display customization is out of scope of this issue and not needed for now.

[2021-09-30 11:36] trevorgowing commented on #571
@f-odhiambo I can't see how any UI would relate to this issue.

I would expect that a list of Questionnaires would be displayed, all I am doing is filtering the list.

[2021-09-30 12:29] NaveenZehra11 opened #591 "Difference on actual and Expected (figma) design"
on the latest build:
 almost all screens are not same figma design
 Mentioning 2 of them here.

home screen Actual:
![Screenshot from 2021-09-30 17-07-12](https://user-images.githubusercontent.com/90256461/135454459-0b76aad8-505c-4102-a9fc-4af4c1e3170c.png)
ExpectedScreen :
![Screenshot from 2021-09-30 17-26-11](https://user-images.githubusercontent.com/90256461/135454561-ea632ff0-5572-4f4b-9142-6

[2021-09-30 12:39] pld commented on #571
Agree, any UI for this is handled by #585

[2021-09-30 13:00] trevorgowing commented on #571
@syedowaisali90 Please feel free to reach out if you have any questions etc.

[2021-09-30 13:27] f-odhiambo commented on #571
I meant to say he will need it 😊 to view synced questionnaires

[2021-09-30 13:54] f-odhiambo commented on #521
Sample encounter for this
[code]

[2021-09-30 14:09] pld opened #593 "Dynamic select options in the SDC"
**Describe the issue to be researched**
How do we support having a multi-choice question where the values are populated and chosen from a list of some query against other resources?

Specifically, in G6PD, we could have a question “G6PD device” and the options rendered are a single select of any “DeviceDefinition” resources present in the local db. Does SDC support something like this now? If not,

[2021-09-30 18:28] #565 closed

[2021-09-30 18:56] isabelcshaw commented on #528
@pld @RaaziaTarique

It looks like from the other issue that this is done apart from the constraints, is that correct? I think we may not want to overdue the constraints at this point, so provided some basic guardrails below.

Weight - integer; for now, I would just ensure that that it is a two or three digit number
Height - integer; no more than 300
Blood Oxygen Level - percent; cannot have an in

[2021-10-01 05:25] RaaziaTarique commented on #528
@isabelcshaw Adding these limits.
CC: @pld @f-odhiambo

[2021-10-01 06:53] trevorgowing commented on #571
[PR 590](https://github.com/opensrp/fhircore/pull/590) Ready for Review.

[2021-10-01 13:47] #569 closed

[2021-10-02 17:34] mwkhan1983 opened #596 "Show instructions"

[2021-10-02 17:36] mwkhan1983 opened #597 "Quest v0.2 / G6PD: Create FHIR Service Request"
ServiceRequest is a record of a request for a procedure or diagnostic or other service to be planned, proposed, or performed, as distinguished by the `ServiceRequest.intent` field value, with or on a patient. The procedure will lead to either a [Procedure](https://www.hl7.org/fhir/procedure.html) or [DiagnosticReport](https://www.hl7.org/fhir/diagnosticreport.html), which in turn may reference one

[2021-10-02 17:39] mwkhan1983 opened #598 "Capture responses & submit questionnaire"

[2021-10-02 17:42] mwkhan1983 opened #599 "Quest v0.2 / G6PD: Extraction of FHIR resources & Generate Observation Resources"
We need to decide on the following approaches based on the current requirements and for RIM to work

**Step 1**
- [x] Created and save a [QuestionnaireResponse](https://www.hl7.org/fhir/questionnaireresponse.html)
- [x] Extract resources for RIM computation  - extraction of Patient , Observation and Pregnancy condition (If selected)

Sample resources to be extracted and generated

1. Pregnancy Con

[2021-10-02 17:43] mwkhan1983 commented on #599
Peter: is the Observation resource (below) the only thing being extracted?

[2021-10-02 17:44] mwkhan1983 commented on #599
We will be generating observation request with reference to patient and practitioner resources.

[2021-10-02 17:44] mwkhan1983 commented on #599
Peter: Is anything else being generated from the G6PD test results questionnaire response?

[2021-10-02 17:53] mwkhan1983 commented on #597
**Peter**: How is this created? Simplest might be to create with a StructureMap from the QuestionnaireResponse when a client is registered

[2021-10-02 17:53] mwkhan1983 commented on #597
**Francis**: Yes. That's one approach . We can decide on the best approach once we assign a ticket for this incase we need to change the implementation for another alternative

[2021-10-04 08:46] maimoonak commented on #568
UPDATE: We can load config from DB (with a fallback to default from assets folder), Load or change a predefined theme (Blue/Gray for now) or icons (with a fallback to default), show patient list, optionally choose drawer or bottom nav or both

- App configuration can be done via BinaryResource like https://fhir.labs.smartregister.org/fhir/Binary/quest-app
[code]

- Register configuration can be do

[2021-10-04 12:29] ellykits opened #602 "Refactor CQL evaluator implementation"
**Name of feature to enhance**
CQL evaluator implementation

**Description of feature**
The aim is to improve on code quality and standards

**Describe the enhancement**
Refactor the code to follow the recommended conventions also to improve code quality. The refactor should cover the following areas:

- Variable names
- Use Kotlin constants
- Using mutable and immutable properties
- Long paramete

[2021-10-04 13:52] ellykits opened #603 "Add UserConfiguration"
**Name of feature to enhance**
User configuration

**Description of feature**
Introduce a new configuration for providing user settings like realm access role

**Describe the enhancement**
There are some configurations that specific to a logged in user that needs to be provided separately

[2021-10-04 16:13] pld commented on #596
This is blocked by https://github.com/opensrp/fhircore/issues/572 since if that's on track we can put the instructions in the Questionnaire to close this

[2021-10-04 16:14] pld commented on #597
I'm still not convinced this is required and that we should do it, marking as blocked.

[2021-10-04 16:50] pld commented on #599
Note we need to do this with no custom coding, a StructureMap linked to the Questionnaire seems like an approach that will get us there

[2021-10-04 16:55] pld commented on #568
Sounds good, note
- we don't need to think about user theme creation for now, but asset loading is important
- reloading without reopening is important
- on the final point can you add a note about this to the discussion here, https://github.com/opensrp/fhircore/discussions/594, we should address it in the more general approach to app definition

[2021-10-04 16:57] pld commented on #603
Where/how is this added?

What exactly will it control?

[2021-10-05 05:38] f-odhiambo commented on #528
Added a related SDK ticket to handle min/max

CC @RaaziaTarique @syedowaisali90 @pld @isabelcshaw

[2021-10-05 07:02] f-odhiambo commented on #602
As you go about this some key issues to address
1. Eliminate any blank screen as you initiate the Evaluate measure or CQL Evaluation
2. Add a progress bar to give someone feedback on the progress of the operation
3. Tidy up the JSON response post evaluation, we can put it in a dialog pop up or a scrollable view or beautify it for a presentable view. Fonts etc.
4. We can also point to the public HA

[2021-10-05 07:16] f-odhiambo opened #605 "Quest v0.2: Add a configurable login page for the app"
**Name of feature to enhance**
Add a configurable login page for the app

**Describe the enhancement**
- [ ] Change icon
- [ ] Background color to white
- [ ] Change auth details  i.e. create new user and organization for user-specific for G6PD
- [ ] Only sync G6PD specific data  with G6PD publisher attribute

Attached is a screenshot
<img width="375" alt="Screen Shot 2021-10-05 at 9 53 31 AM" src

[2021-10-05 07:19] f-odhiambo opened #606 "Add prompt before submitting user details on Registration"
- [ ] Add prompt before submitting user details on Registration
- [ ] Check on mandatory and optional fields before submission

![image](https://user-images.githubusercontent.com/4540684/135977549-db9f5aa2-cf81-44f0-9cb9-fe58b520e51f.png)

**NB. This is a good candidate to also test validation of required fields based on the SDC library.**

[2021-10-05 07:29] trevorgowing opened #607 "Questionnaire Publisher Filtering"
**Name of feature to enhance**
Questionnaire Publisher Filtering

**Description of feature**
In order to support different applications ANC, EIR & Quest from potentially a single FHIR Server there is a need to filter resources based on certain fields.

In the context of the Quest Application there is a requirement to filter [Questionnaires](http://hl7.org/fhir/questionnaire.html) by the [publisher

[2021-10-05 07:58] ellykits commented on #607
Can we leverage custom user attributes on keycloak for this?

[2021-10-05 07:59] trevorgowing commented on #607
@ellykits I don't know. Can we?

[2021-10-05 08:00] ellykits commented on #607
I think so. Trying to find the relevant docs to share.

[2021-10-05 08:02] f-odhiambo commented on #583
This is happening randomly and needs to be further investigated. Adding blocked label for now

[2021-10-05 08:06] ellykits commented on #603
Closing this. @trevorgowing Has created a new issue to provide more context here #607

[2021-10-05 08:06] #603 closed

[2021-10-05 08:09] ellykits commented on #607
Hope these will be helpful:

https://www.keycloak.org/docs/latest/server_admin/index.html#_user-attributes
https://www.baeldung.com/keycloak-custom-user-attributes

[2021-10-05 08:15] trevorgowing commented on #607
Thanks @ellykits. I will check those out.

[2021-10-05 11:00] mwkhan1983 commented on #241
reopening since coverage dropped due to restructuring of code

[2021-10-05 13:32] ndegwamartin opened #608 "Add code coverage reporting for Quest module"
**Describe the Issue**
- We need to add code coverage reporting for the quest module codebase

[2021-10-05 14:12] #608 closed

[2021-10-05 15:27] pld commented on #593
Since we don't know if this is required yet, marking it blocked by that and removing from milestone

[2021-10-05 19:45] #109 closed

[2021-10-05 19:46] #280 closed

[2021-10-05 20:09] f-odhiambo opened #612 "G6PD WP1 App release notes - Check list"
- [ ] Login page with G6PD logo and label
- [ ] User authentication
- [ ] Patient List
- [ ] Sync patients
- [ ] Patient search
- [ ] Patient registration with confirm before submission
- [ ] Patient profile to view past G6PD test or initiate new test
- [ ] Multi-language support

[2021-10-05 20:13] f-odhiambo commented on #591
@qiarie FYI as we do the UI/UX update , Do not remove the overdue filter as that functionality has been implemented  to be generic

[2021-10-05 20:14] f-odhiambo commented on #612
CC @kwasim Check on the above items as is described in WP1

[2021-10-05 20:16] f-odhiambo commented on #612
@ndegwamartin We can discuss this before the deadline is due

[2021-10-05 20:35] f-odhiambo commented on #585
This profile view has been updated when being viewed for G6PD

**See mock**
<img width="425" alt="Screen Shot 2021-10-05 at 11 32 42 PM" src="https://user-images.githubusercontent.com/4540684/136098538-1d708f69-b434-491d-98c8-86357a33494c.png">

[2021-10-05 20:59] pld commented on #585
I think this issue is 2 issues

1) the first generic version that's closer to the screenshots in the issue description.

2) a more use-case specific version, like in the above screenshot that needs a configuration to control what's displayed and is not yet scoped

@syedowaisali90 please only concern yourself with the generic version for now, @f-odhiambo can you create a new issue for the configure

[2021-10-05 23:27] pld commented on #605
This is blocked by research on how we encode and sync configurations for the app, touched on this discussion, https://github.com/opensrp/fhircore/discussions/594

[2021-10-05 23:44] pld commented on #598
@mwkhan1983 can you please add more details to this description?

[2021-10-06 00:07] pld commented on #583
Do we know the code merge after which this started happening? Could this be related to the CQL library? We know that requires a large amount of memory

[2021-10-06 00:15] pld commented on #585
I may also be missing information here, are we far enough along with configuration that we do these as a single issue? If so that's great, and if so @syedowaisali90 can you add more details on the implementation plan for doing this through configuration so we can discuss and give feedback before work begins? Thanks

[2021-10-06 05:50] syedowaisali90 commented on #585
@pld I don't think it will be controlled by configs and I think the updated mock that @f-odhiambo has shared looks like a more updated version and if not so then we need more context.

[2021-10-06 06:21] syedowaisali90 commented on #583
might be, the first time in this PR https://github.com/opensrp/fhircore/pull/523 some tests had been disabled. cc: @ellykits @ndegwamartin

[2021-10-06 09:58] trevorgowing commented on #607
Steps to expose custom user attribute:

1. Add a custom attribute to the user. [Keycloak Docs](https://www.keycloak.org/docs/latest/server_admin/index.html#_user-attributes). [Keycloak Admin Interface](https://keycloak-stage.smartregister.org/auth/admin/master/console/#/realms/FHIR_Android/users/dbde5c0c-2aa0-4278-a505-f6ef9d262a1b/user-attributes).
2. Expose the custom user attribute by adding a

[2021-10-06 12:11] mwkhan1983 commented on #612
@f-odhiambo I see that most of Quest v0.2 items are missing from the check list 15th October release including G6PD test results questionnaire. If we cannot realistically complete this by October 15th, we should set the client expectation accordingly

[2021-10-06 12:30] pld commented on #585
OK, more context is needed then. The updated mock is specific to g6pd, which this is not supposed to be, so we'd want to implement a version of this that is not-g6pd specific and if we need anything g6pd specific that would have to be controlled through dynamic files loaded via sync.

@rowo @f-odhiambo can we build a generic version of this that is effective for g6pd? If not, let's schedule a meet

[2021-10-06 13:09] f-odhiambo commented on #606
Need to create a new registration questionnaire a Tag -Quest/G6PD on  HAPI and sync it to the app

[2021-10-06 14:01] #366 closed

[2021-10-06 14:01] #367 closed, assigned to nobody

[2021-10-06 14:01] #368 closed

[2021-10-06 14:01] #369 closed

[2021-10-06 14:01] #372 closed

[2021-10-06 14:01] #373 closed

[2021-10-06 14:01] #374 closed

[2021-10-06 14:01] #378 closed

[2021-10-06 14:03] #359 closed

[2021-10-06 14:03] #362 closed

[2021-10-06 14:03] #363 closed

[2021-10-06 14:11] f-odhiambo commented on #227
@RaaziaTarique Updated the main issue description
CC @shoaibmushtaq25

[2021-10-07 08:57] f-odhiambo opened #614 "[Documentation] Add documentation on how to go about test on the codebase"
- [x] How to write test cases for the base code on FHIRCore and related modules?
- [x] How to write test cases for Jetpack compose?
- [x] What are the checks required to be passed/met while writing the test?

[2021-10-07 10:33] mwkhan1983 commented on #596
@f-odhiambo should we close this as this is no longer a requirement from client end?

[2021-10-07 12:03] f-odhiambo opened #615 "Add code coverage for current work pushed to master branch on FHIR Core"
**Describe the Issue**
We need to add code coverage reporting for the quest module codebase. The current ranking is at ~36% https://app.codecov.io/gh/opensrp/fhircore

Also, try and add some test template/ sample for 'compose  if possible

[2021-10-07 16:11] f-odhiambo commented on #612
@pld Do we need to update the last mock to the once shown here  ?
<img width="200" height="400" alt="5" src="https://user-images.githubusercontent.com/4540684/136098538-1d708f69-b434-491d-98c8-86357a33494c.png">

CC @isabelcshaw

[2021-10-07 16:35] f-odhiambo opened #616 "Quest v0.2 / G6PD: Sub-Task - Add validation before posting a registration questionnaire"
**Acceptance criteria**
- [ ] Check on mandatory and optional fields before submission

<img src="https://user-images.githubusercontent.com/4540684/135977549-db9f5aa2-cf81-44f0-9cb9-fe58b520e51f.png" width="200" height="400" />

**NB. This is a good candidate to also test validation of required fields based on the SDC library.**
This ticket will be used to track the FHIRCore implementation

[2021-10-07 17:42] pld commented on #616
Cool, it's possible this'll be baked into the SDC and all we need to do to close this issue is verify that's functioning as expected

[2021-10-07 18:26] isabelcshaw commented on #585
@owais-vd after discussion with @pld we've aligned on this version of the profile view that only has one addition for G6PD. Some notes on the image below:
1. I've removed the G6PD status on the client's name (sorry it isn't neater) - you can consider that out of scope

<img width="220" alt="Screen Shot 2021-10-07 at 11 24 07 AM" src="https://user-images.githubusercontent.com/12836913/136441513-286

[2021-10-07 18:36] isabelcshaw commented on #585
@pld updated the comment and image - let me know if anything is missing

[2021-10-08 09:17] owais-vd commented on #585
Noted. Thanks, @pld @isabelcshaw

[2021-10-08 13:01] pld commented on #572
@mwkhan1983 to clarify, I mean that's the least we know we can do, we should definitely keep this in the milestone and try to get it done ASAP

[2021-10-08 13:02] pld commented on #572
if it's working on a SDK branch, let's publish that to our own Maven and use it, PR review does not block closing this issue

[2021-10-08 17:30] pld commented on #568
@maimoonak do the new issues need to be closed to delivery a functional version of the view in this issues description?

If not, I think we should close this issue. The new issues are important, but I don't see them as pre-reqs for the limited functionality we are trying to cover with this specific issue.

[2021-10-09 15:36] #607 closed

[2021-10-11 09:03] maimoonak commented on #567
@f-odhiambo @ellykits As suggested by Peter this should be on StructureMap or default Questionnaire handler rather than custom implementation. The current questionnaire do not need StructureMap but needed custom implementation to address the issue with Fhir-SimpleContextProvider taking too long to initialize. I guess @ellykits is already working on the QuestionnaireActivity so let discuss the next

[2021-10-11 13:29] maimoonak commented on #570
There are two extensions to change text style into a questionnaire but none is working

1. "http://hl7.org/fhir/StructureDefinition/rendering-style",
2. "http://hl7.org/fhir/StructureDefinition/rendering-xhtml",

Which means that we can not make the questionnaire dynamic and independent of G6PD flow or do all into one questionnaire unless we have these functional in SDK.

[2021-10-11 20:43] isabelcshaw opened #620 "Quest v0.2 / G6PD: Take a photo within a Questionnaire"
[**ONLY** address this issue if all other work in this milestone is complete or accounted for. It is more important to deliver a stable version of the rest of this milestone than to include this one feature in the delivery.]

As part of the G6PD requirements, the user must submit an image of the test results that they have entered.

_**As an end user, I want to be able to open the G6PD form, fill

[2021-10-12 06:58] f-odhiambo commented on #568
This is DONE

[2021-10-12 06:58] #568 closed

[2021-10-12 07:03] f-odhiambo opened #622 "Fix an issue on Questionnaire activity post login throwing exception"
Fix an issue on Questionnaire activity. After login the is an exception  :
When on perform Extraction on QuestionnaireResponse, the below exception comes up randomly (not every time) and if I clear app data, restart the app, this exception gets fixed. (But now, this is not even fixed after app restart).

Screenshot
![image](https://user-images.githubusercontent.com/4540684/136907819-2b1864a7-d6a0-

[2021-10-12 07:06] f-odhiambo commented on #570
**Update**
This is WIP as of Oct 12th 2021

[2021-10-12 07:19] f-odhiambo commented on #585
**Update**
1. Updated the UI as per new mock and load test forms from configs and dynamically populated the test results.
2.  Adding test cases and then create a PR for review.

[2021-10-12 14:58] pld commented on #585
What resource are you storing based on what's submitted to the Questionnaire?

[2021-10-12 17:11] owais-vd commented on #585
ok cool, then i need to update the PR. Thanks

[2021-10-13 07:37] mwkhan1983 opened #627 "Quest v0.2 / G6PD: Subtask - Allow configuration of G6PD classification thresholds"
As a user I want to configure G6PDS thresholds which will be provided as an input to RIM to calculate patient status.

There can be separate threshold values based on gender.  The solution should allow the configuration of G6PD thresholds per implementation basis. It should not be uniform for all implementations.

![image](https://user-images.githubusercontent.com/69383347/137087885-957ccce1-409b-

[2021-10-13 07:51] #181 closed

[2021-10-13 08:06] f-odhiambo opened #628 "[Roadmap] G6PD WP1 / Quest"
**Quest**
- [x] [G6PD WP1 / Quest](https://github.com/opensrp/fhircore/milestone/25)

[2021-10-13 08:10] f-odhiambo opened #629 "[Roadmap] G6PD WP 2 / Quest"
- [x] [G6PD WP2 / Quest](https://github.com/opensrp/fhircore/milestone/23)

[2021-10-13 08:19] mwkhan1983 opened #630 "Quest v0.2 / G6PD: Develop Results Interpretation Module (RIM)"
As a healthcare worker, I should be able to assign patient classification based on predetermined thresholds of G6PD activity.

 Based on the configured thresholds, the following classification can be assigned to male and female patients:

**Male**
- G6PD deficient
- G6PD normal

**Female**
- G6PD deficient
- G6PD intermediate
- G6PD normal

Please refer to image below for G6PD status & PQ regimen:

[2021-10-13 13:11] f-odhiambo commented on #572
Here @ndegwamartin is the screenshot for the desired questionnaire
<img width="504" alt="Screen Shot 2021-10-11 at 1 16 48 PM" src="https://user-images.githubusercontent.com/12836913/136850586-13fd3a8f-60b7-4a47-95ab-9dc6ec5e0c8b.png">

[2021-10-13 13:38] pld commented on #599
How we do the parts around DeviceDefinition and Device are still unclear because we need to discuss the use case requirements here and liase with the design team, I suggest we move that to a new issue to unblock this one.

I see overlap between the two options, and I think regardless to close and unblock this issue we can scope it as:

1. write a StructureMap to apply after form submission to go f

[2021-10-13 19:14] pld commented on #597
service request generation is handled in #599, that looks like it covers this issue, closing

[2021-10-13 19:14] #597 closed

[2021-10-13 19:34] pld commented on #208
this is completed through the sync feature of the android fhir sdk

[2021-10-14 00:53] #570 closed

[2021-10-14 09:24] f-odhiambo commented on #620
@FikriMilano Check this out
<img width="755" alt="Screen Shot 2021-10-14 at 12 23 38 PM" src="https://user-images.githubusercontent.com/4540684/137289790-c58d1690-d580-491c-bebf-a3d2108a17a7.png">

[2021-10-14 10:33] FikriMilano commented on #620
Thanks!

[2021-10-14 14:32] f-odhiambo opened #633 "Quest v0.1 / G6PD: Add tags to Questionnaire to link to G6PD specific Patients/Content/Resources"
**Critical**
- [x] Add a tag the allows the app to filter and also sync data for G6PD specific use-case
- [x] G6PD results row show should have a date when the test was conducted
- [x] Add questionnaire validations are missing. i would add required validation as well

**Other stuff to check on**
- [x] Remove dummy patient with name ‘’'  - we can edit or remove them to have proper names
- [ ] Resol

[2021-10-14 18:07] pld opened #634 "Use dynamic QuestionnaireResponse name"
**Describe the bug**
- [ ] dynamically load the name of the Questionnaire, not a static string

This line, https://github.com/opensrp/fhircore/blob/main/android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/details/QuestPatientDetailScreen.kt#L281

[2021-10-14 18:09] pld opened #635 "Use ona.io not ona.com"
**Describe the bug**
- [x] load CODE and SYSTEM from flat config files
- [x] change the SYSTEM (and any sample asset references) from "ona.com" to "ona.io"

This is the only reference in code, sample assets probably need to be updated as well, https://github.com/opensrp/fhircore/blob/main/android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/details/QuestPatientDetailActivity.kt#

[2021-10-14 18:15] pld opened #636 "Use dynamic Questionnaire loading"
**Describe the bug**
- [ ] this hard codes the list of Questionnaires, change to show all Questionnaires associated with the app assigned to logged in user

https://github.com/opensrp/fhircore/blob/main/android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/details/QuestPatientDetailScreen.kt#L273

[2021-10-15 06:25] f-odhiambo commented on #622
The issue seems resolved in latest code base

[2021-10-15 06:25] #622 closed

[2021-10-15 09:25] f-odhiambo commented on #620
@FikriMilano I think this is a nice idea to have this extensible to other apps and can be reusable, to which resource will the attachment be tagged to?

[2021-10-15 11:02] pld commented on #634
Does that mean that this is never shown?

[2021-10-15 11:05] owais-vd commented on #634
yes, it will never shown it's preview purpose only.

[2021-10-15 12:00] maimoonak commented on #634
Text changed to Sample https://github.com/opensrp/fhircore/pull/638/files#diff-43b46a864a965d7f522e1b221c0f2d197d6ee6b38752c13443dfbd41d38d2a80R273

[2021-10-15 12:02] ndegwamartin opened #639 "Minimum SDK support for FHIR Core"
**Describe the Issue**
We need to test the FHIRCore modules on the lower API versions and log any bugs found for implementation
FHIR SDK supports from API 21, we can use this as the minimum and test all the way up till API 30

Checklist:
- [ ] Quest
- [ ] EIR
- [ ] ANC

[2021-10-15 12:05] #635 closed

[2021-10-15 12:05] #636 closed, assigned to maimoonak

[2021-10-15 12:23] FikriMilano commented on #620
To display it, I think it should be part of Questionnaire.
When saving, it will be QuestionnaireResponse.

[2021-10-15 13:22] f-odhiambo opened #640 "Quest v0.2/ G6PD: G6PD test questionnaire check fields saved"
**Description of feature**
Make sure all fields relevant for RIM computation are captured

**Describe the enhancement**
Update the G6PD test questionnaire to capture all relevant fields for the   Quesionnairereponse or later extract it to a Device resource before getting inputs for the Result Interpretation Module

**Acceptance Criteria**
Make sure the user captures
- [ ] Patient ID
- [ ] Patient

[2021-10-15 15:35] pld commented on #620
What's the reason to store this, and what specifically would be stored, in the QuestionnaireResponse?

[2021-10-16 01:22] FikriMilano commented on #620
@pld Because we need image reference when uploading one. It could be base64Binary and/or url.

It may store as follows but not limited to:

- contentType (required when there's data, optional when there's url - mimeType e.g. jpeg, png)

- data (optional - base64Binary)

- url (optional - url)

- title (optional - string)

And by using QuestionnaireResponse we can store it as an answer in valueAtta

[2021-10-16 13:02] pld commented on #620
Ah of course, that makes sense.

Could we embed the binary data directly in the QuestuonnaireResponse instead of involving another resource?

[2021-10-17 08:02] FikriMilano commented on #620
@pld If by resource you mean Attachment, then yes.

Since the binary data will be base64 encoded, which is a string data type. We can store it in valueString.
Although the size will be limited to 1MB, we can still do it as long the image got compressed.
https://www.hl7.org/fhir/questionnaireresponse.html#resource
https://www.hl7.org/fhir/datatypes.html#string

We couldn't directly use base64Binary

[2021-10-17 09:06] FikriMilano commented on #620
@pld Also, I got this idea today.

We can just drop the idea of using Attachment and the use of QuestionnaireItemType itself for custom questionnaire widget.

Since it's custom, we can use an `extension` that has a specific `url` and `valueString` to match if it's a Photo Capture questionnaire widget or not.
The `url` may be the questionnaire widget documentation.

Should be something like this:
[

[2021-10-17 12:51] #628 closed

[2021-10-17 12:52] f-odhiambo opened #641 "[Roadmap] FHIRCore Milestone 14"
**Start**
- [x] Review open Items in [Sprint 14](https://github.com/opensrp/fhircore/milestone/26)

**Expectations**

- [x] Quest/G6PD v0.2
- [x] Quest MSF

[2021-10-17 12:53] #577 closed

[2021-10-18 07:03] f-odhiambo commented on #633
**Update on open subtasks**
1. "App takes a while to sync patients - check on sync mechanism" - this is a bigger question and a separate ticket. Right now we have not discussed sync strategy so we can not filter syncing ... this leads to more sync time

2. "Resolve any discrepancies based on shared mocks" - We compared the app with mocks shared on the ticket and the functionality was intentionally

[2021-10-18 08:57] f-odhiambo commented on #227
@RaaziaTarique @shoaibmushtaq25 Any update on this?

[2021-10-18 09:55] maimoonak commented on #606
There are 4 things..
1- Prompt on back-pressed (AlertDialog)
2- Alert on validation errors #616  (AlertDialog)
3- Prompt on save (current) (AlertDialog)
4- Progress on save (currently implemented via AlertDialog)
(we may also want to show progress on form opening and taking time in pre-populating data for edits)

@ellykits @owais-vd We can use one method to determine the Action (back/validation/co

[2021-10-18 12:24] pld commented on #616
Sounds like we need to implement our own validation in FHIR Core in the mean time, doesn't look like anyone's working on that broader issue

[2021-10-18 12:28] #633 closed, assigned to maimoonak

[2021-10-18 13:44] f-odhiambo opened #642 "Quest v0.2 / G6PD: App takes a while to sync patients - check on sync mechanism"
**Name of feature to enhance**
Enhance the sync mechanism to load patients to the application
**Description of feature**
Application takes quite some time to sync patients whether if it's a single patient or a bunch of patients
**Describe the enhancement**
Optimize the sync mechanism to make the process more efficient
**Context**
Quest app currently has only one patient being synced but takes more

[2021-10-18 14:22] pld commented on #642
Do we know where in the sync process we're seeing the slow down?

- Is the client waiting on the server?
- Is the server waiting on the client?

[2021-10-18 19:14] f-odhiambo commented on #642
Looking to check if we sync everything and then filter or we sync what we need . I am assuming there lies an assumption to be debunked

[2021-10-19 09:54] trevorgowing commented on #642
@f-odhiambo Is this is the issue raised by Matt in slack?

[2021-10-19 09:56] f-odhiambo commented on #642
Yes it is

[2021-10-20 10:24] trevorgowing commented on #642
My first finding is that the keycloak `.../auth` endpoint is being called with each sync call to Hapi.
This was the case when I was working on the Questionnaire sync previously and it doesn't really make sense to me.
The auth endpoint returns an html login page.

[code]

[2021-10-20 11:35] f-odhiambo commented on #642
@trevorgowing Kindly also pull the latest code in `main`,  something seems to have been updated as things are working well, at least in Quest , but yes we need to resolve some of the issues highlighted above and optimize

[2021-10-20 13:15] AbdulWahabMemon commented on #555
@maimoonak , I worked on BMI computation, and @RaaziaTarique did on vital-signs, though none of our tasks include capturing HB Obs in questionnaire.
cc: @f-odhiambo

[2021-10-20 16:39] #615 closed, assigned to owais-vd

[2021-10-21 06:32] trevorgowing commented on #642
@mberg Good question. I will get back to you on that.

[2021-10-21 07:37] f-odhiambo commented on #591
**Update**
A majority of the items here are being addressed by @ellykits  PR
CC @Rkareko @qiarie @ndegwamartin

[2021-10-21 13:51] maimoonak commented on #616
<img height="400" width="200" src="https://user-images.githubusercontent.com/4829880/138291487-a05d90f1-d3b5-475e-b06b-f7352a414b78.jpg">

[2021-10-21 13:57] pld commented on #616
Instead of showing a popup, can we disable the "Save" button until validation passes?

[2021-10-22 07:19] f-odhiambo opened #652 "Quest v0.2/ G6PD: Get a patient's DOB by entering their age as an integer"
**Name of feature to enhance**
Add a client's DOB by entering their age as an integer

**Description of feature**
Add on the registration questionnaire for Quest the ability to add age either an integer or actual date, add a selection before the DOB as seen in the screenshot below

**Describe the enhancement**
1. Add a skip logic question that asks a user to either enter date as a number or date
2

[2021-10-22 07:35] f-odhiambo opened #653 "Quest v0.2/ G6PD: In the G6PD Test questionnaire on press N/A, add High and Low Hemoglobin checkbox"
**Name of feature to enhance**
Add fields on press N/A on the G6PD test questionnaire
**Description of feature**
When a user clicks on N/A
1. Add a check box showing Hemoglobin levels as either High or Low
2. Similar to normal mode, show input fields for both G6PD and Hemoglobin levels
3. Submit

**Describe the enhancement**
1.  Later post extraction of the Observation resources for Save Hemoglobi

[2021-10-22 07:43] f-odhiambo opened #654 "Quest v0.2/ G6PD: In the G6PD Registration questionnaire, if female gender, ask for pregnancy status"
**Name of feature to enhance**
Add the ability to record if the patient is pregnant when gender is female

**Description of feature**
When the gender is female, add in the questionnaire option to select whether pregnant or not

**Describe the enhancement**
Add a skip logic on patient registration questionnaire the ability to toggle pregnant or not if gender is female
For this we can use a boolean

[2021-10-22 08:02] f-odhiambo opened #655 "Quest v0.2/ G6PD: Add the ability to filter patients by DOB"
**Is your feature request related to a problem? Please describe.**
1. Current search allows you to only search by name (given & family name). We need to add the ability to filter users by DOB

**Describe the solution you'd like**
1. Add a filter that allows you to get all patients who were born by a certain age

**Additional context**
1. This may need SDK support so a separate ticket to be created

[2021-10-22 08:26] f-odhiambo opened #656 "Quest v0.2/ G6PD: Add the ability to search for patients by identifier"
**Is your feature request related to a problem? Please describe.**
1. Current search allows you to only search by name (given & family name). We need to add the ability to search for users by their given Identifier eg. 111000111 based on the sample snippet given below

**Describe the solution you'd like**
1. Add the ability to enter and filter patients based on their given identifier
**Additional

[2021-10-22 15:41] #616 closed, assigned to maimoonak

[2021-10-22 15:41] #653 closed, assigned to maimoonak

[2021-10-22 15:41] #654 closed, assigned to f-odhiambo, maimoonak

[2021-10-25 11:30] f-odhiambo opened #661 "Quest v0.2/ G6PD: View DOB as Year and Month as opposed to zero (0)"
**Name of feature to enhance**
Show the exact age of a person as Year and Month

**Description of feature**
The current app shows age as 0 when a person is less than 1 yr old. Hard to know how old a patient is from the Patient list or profile. See Screenshot

**Describe the enhancement**
Compute age as Year and Months and display accordingly

**Screenshot**
<img src="https://user-images.githubuser

[2021-10-25 11:38] f-odhiambo opened #662 "Quest v0.2 / G6PD : Edit Patient Details"
**Is your feature request related to a problem? Please describe.**
NO
**Describe the solution you'd like**
- Add the ability to edit the user details from the profile page
- Add a menu item when you click on a patient on the patient list view  - accessed via the top bar menu item. See screenshot

**Describe alternatives you've considered**
N/A

**Additional context**
Add the relevant structure map

[2021-10-25 12:33] f-odhiambo opened #663 "App crashing while syncing Observation resources"
**Describe the bug**
Error while syncing observation details causing the app to crash

**Additional context**
[code]

[2021-10-25 12:40] f-odhiambo opened #664 "Quest v0.2 / G6PD: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0 bug"
**Describe the bug**
Error while syncing  causing the app to crash

**Additional context**
[code]

[2021-10-25 12:42] f-odhiambo opened #665 "Quest v0.2 / G6PD: Code enhancements based on Logs"
**Name of feature to enhance**

Checking these logs on how the app can be enhanced based on the Warnings Logged. We need to add error handling for some of the bugs that we face such as NULL  pointers and when there is _dirty_ data synced from the server-side

[code]

[2021-10-25 12:44] f-odhiambo opened #666 "Quest v0.2 / G6PD: java.lang.NullPointerException: long java.util.Date.getTime()"
**Describe the bug**
App crashes when you select a patient on the ANC register. This is caused by a referenced encounter with a missing period.start (Date)

[code]
**Steps to reproduce the bug**
1. Launch the ANC app
2. Access the ANC register
3. Search and select Patient-mom
4. Application crushes

**Desired outcome**
1. Launch the ANC app
2. Access the ANC register
3. Search and select Patient-m

[2021-10-25 13:23] f-odhiambo opened #667 "Quest v0.2: Edit a survey once completed & submitted"
**Is your feature request related to a problem? Please describe.**

As a user of Quest, I would like to edit a previously submitted survey (QuestionnaireReponse) and submit  it back with updated responses

**Describe the solution you'd like**

1. Access a previously filled in survey from the Patient profile
2. On click, allow the user to get back a prepopulated form that can be updated and submitt

[2021-10-25 14:33] trevorgowing opened #668 "Quest v0.2 / G6PD: Optimize Quest Synchronization (Filter Resources by app id)"
### Context

As per discussion https://github.com/opensrp/fhircore/discussions/676 initiated based on issue https://github.com/opensrp/fhircore/issues/642 the Quest App synchronization needs to be reordered and the resources filtered.

### Summary

The issues we are trying to resolve are minimizing unnecessary synchronization by moving synchronization to when it is applicable as well as minimizing

[2021-10-26 06:49] f-odhiambo opened #670 "Enhancements on for app navigation based on Bottom navigation"
Make the following adjustments based on shared mocks and add the ability to access various modules/components on the app :
1. Bottom navigation for Quest/G6PD and ANC apps respectively
2. Bottom sheet for switching registers
3. Remove the menu icon on the login screen
4. Add a profile page to allow access to manual sync and user logout actions (missing after disabling the drawer/side menu for ANC

[2021-10-26 08:36] ndegwamartin opened #671 "Quest v0.2 / G6PD: Resource extraction failing"
**Describe the Issue**
Structure Map extraction failing

<img width="1343" alt="Screenshot 2021-10-26 at 8 52 17 AM" src="https://user-images.githubusercontent.com/10017086/138841583-4b54da7f-45d2-40ba-bd8b-aa4efb56dba5.png">

[2021-10-26 14:16] #663 closed, assigned to maimoonak

[2021-10-26 14:59] f-odhiambo opened #673 "App crash when opening some Patient Profile"
**Describe the bug**
App crash when opening some Patients in the ANC app
**To Reproduce**
Steps to reproduce the behaviour:
1. Open ANC Register
2. Click any ANC patient

**Expected behaviour**
View patient profile on click patient in Patient List

**Screenshots**
N/A

**Additional context**

[code]

[2021-10-27 07:23] f-odhiambo opened #675 "Dynamically select Period (periodStart & periodEnd) for generation of measure reports"
**Name of feature to enhance**
As a Community health supervisor, I would like to see how a given facility is doing based on the recommended measures tracking various health Indicators in a given jurisdiction.

**Description of feature**
Add the ability to load measure reports that can be used to generate reports for either Individual ANC patients or a subset of a defined population with given char

[2021-10-27 10:48] #670 closed, assigned to ellykits

[2021-10-27 12:51] #664 closed, assigned to maimoonak

[2021-10-27 12:51] #665 closed, assigned to maimoonak

[2021-10-27 12:51] #666 closed, assigned to maimoonak

[2021-10-27 12:51] #673 closed, assigned to maimoonak

[2021-10-28 07:47] f-odhiambo opened #679 "Quest v0.2/ MSF: Add the ability to view Questionnaire responses from previously completed survey - readOnly mode"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add the ability to view a previously completed survey from a stored QuestionnaireReponse in the app

**Additional context**
Need to extract a QuestionnaireReposne and view it on a pre-populated form/view

**Screenshot**
<img src="https://user-images.githubusercontent.com/4540684/139209665-cb

[2021-10-28 09:09] ndegwamartin opened #680 "Automate APK Release process CD"
**Is your feature request related to a problem? Please describe.**
- It is currently a manual/tedious process to generate a signed APK.
- Only select engineers have access to the signing keys.

**Describe the solution you'd like**
- Ideally, we should have a process where we selectively trigger a workflow that generates the release APK on demand

**Describe alternatives you've considered**
- Idea

[2021-10-28 11:50] f-odhiambo opened #681 "Add code coverage for current work pushed to master branch on FHIR Core"
**Describe the Issue**
We need to add code coverage reporting for the quest module codebase. The current ranking is at ~49% https://app.codecov.io/gh/opensrp/fhircore

[2021-10-28 12:00] f-odhiambo opened #682 "SubTask - Integrate cucumber for instrumentation test"
Check on the latest version v4.9.0 if we can be able to resolve the issues around compose and cucumber and allow us to write tests on the app using the Gherkin Syntax via Cucumber-Android  BDD testing

[2021-10-29 08:52] f-odhiambo opened #684 "Covax Demo app - On save vaccine app crashes"
**Describe the bug**
App crushed on submit vaccine given

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Patient profile
2. Click on Revocrd vaccine
3. Select vaccine option
4. Save
5. Error occurs

**Expected behaviour**
1. On select and save vaccine, the record should be submitted an appropriate response given to the user and returned to an updated profile page
2. If the first dose,

[2021-10-29 08:53] #671 closed, assigned to ndegwamartin

[2021-10-29 09:08] f-odhiambo opened #685 "Covax Demo app - APK Release check list/QA"
**Add Config to choose between JnJ Covax app and WHO Demo app**
- [x] #686

**Common to All**
**1. Authentication**
- [ ] Add username and password
- [ ] Validate
- [ ] On click, forget the password, alert user 'Contact Supervisor'
- [ ] On Success, Sync data

**2. Sync**
- [ ] Show sync dialog
- [ ] On complete, show success message else prompt user failed sync or connectivity issues

**3. Side N

[2021-10-29 09:31] f-odhiambo opened #686 "Create a build config to generate either a JnJ Covax demo app workflow or WHO Covax demo app workflow"
Add Config to choose between JnJ Covax app and WHO Demo app
**If the JnJ Covax app**
- [ ]  Remove Barcode/HCID scanning in Homescreen
- [ ]  Registration Questionnaire should only capture Patient Family name, Given name, DOB, Gender. City, Country, is Active, Risk flagging questions and related person fields
- [ ]  Show Risk flag in the patient list and patient profile
- [ ]  Maintain Report adve

[2021-10-29 12:35] f-odhiambo opened #687 "Enable barcode reader functionality to the latest EIR module on Covax Demo app for WHO"
**Name of feature to enhance**

1. Add Barcode reader widget to Covac demo app

**Description of feature**

1. Add Barcode reader widget to allow you to scan HCID, patient identifiers embedded as Barcode tag on patient health paper card

**Describe the enhancement**

1. Feature has an open PR but we need to showcase this for the Covax demo app

NB. the latest version of the FHIR SDK data capture c

[2021-10-29 12:42] ndegwamartin opened #688 "Update release version displayed to include the version code"
**Name of feature to enhance**

1. Release version of the FHIR Core apps

**Description of feature**

1. Displaying the release version of the APK release for all the FHIR Core apps

**Describe the enhancement**

1. We need to display the version code of the release alongside the version name
2. The output should now read in the format  `App version #(#.#.#) `e.g.  `App version 3(0.0.3)`

[2021-10-29 13:41] f-odhiambo opened #689 "Quest/MSF - Extract a Condition resource if patient is Diagnosed once survey is done"
**Is your feature request related to a problem? Please describe.**
Add the ability to save the Diagnosed content from the MSF survey in the Quest app

**Describe the solution you'd like**
1. Select Is child responsive
2. Complete survey
3. Once the survey is complete save the QuesionnaireRresponse
4.  Extract the details from the QR to generate a condition linked to the patient either Acute Ear In

[2021-10-29 16:18] f-odhiambo opened #692 "ANC app checklist - Tracked Issues, Bugs, Features implemented"
Checklist to ensure we are ready for CarePlan generation i.e  $apply($patient_id,$PlanDefinition_id) = CarePlan  for a patient

1. Authentication
- [ ] Login page
- [ ] Validation
- [ ] Logout

2. Sync
- [ ] Optimize sync takes more >1 minute to load clients
- [ ] Remove Junk Dummy data

3. Bottom navigation
- [ ] Icons for Register, Tasks, Reports and Profile
- [ ] Change register icon

4. Top ba

[2021-10-31 18:50] f-odhiambo commented on #662
@pld The task here is to add the editing functionality of the patient resource and not the previously filled in survey via a QuestionnaireResponse. The patient is also saved before responding to a survey

[2021-10-31 18:52] f-odhiambo commented on #661
This should probably go somewhere (engine) where it's extensible across all Patient lists

[2021-11-01 06:22] f-odhiambo opened #694 "[Roadmap] FHIRCore Milestone 15"
**Start**
- [x] Review/Close open Items in [Sprint 14](https://github.com/opensrp/fhircore/milestone/26)
- [x] Start Items in [Sprint 15](https://github.com/opensrp/fhircore/milestone/27)

**Expectations**
- [x] Quest/G6PD v0.2 - RIM
- [x] Quest MSF - View QuestionnaireReponse and saving Observations

[2021-11-01 06:30] AbdulWahabMemon commented on #652
reopenning this as it was close by mistake

[2021-11-01 06:31] #641 closed

[2021-11-01 07:23] #656 closed

[2021-11-01 08:43] maimoonak commented on #689
Found an SDK issue but not sure if due to huge questionnaire or any skip logic.

Select Responsive -> select No i.e. 2nd item in choice. -> It does not get slected, unless you click first element once and then select 2nd element

[2021-11-01 09:16] f-odhiambo opened #695 "CHW/ANC - Update Family Profile view"
**Current Implementation**
<img width="200" height="400" alt="Screen Shot 2021-11-01 at 12 12 55 PM" src="https://user-images.githubusercontent.com/4540684/139651374-86057536-ddfa-42b7-8c39-970d21fbac32.png">

**Desired mocks**

1. No CarePlan generated yet
2. CarePlan to individual or Family referenced

<img width="629" alt="Screen Shot 2021-11-01 at 12 35 14 PM" src="https://user-images.githubus

[2021-11-01 09:17] f-odhiambo opened #696 "CHW/ANC - Update Individual Profile view"
1. No CarePlan to individual or Family
<img alt="Screen Shot 2021-11-01 at 12 43 36 PM" src="https://user-images.githubusercontent.com/4540684/141065265-662fc39a-e060-4e35-bedb-2f6183ff929a.png">

2. CarePlan referenced to individual or Family

**On Course**
<img width="200" height="400"  alt="Screen Shot 2021-11-01 at 12 43 36 PM" src="https://user-images.githubusercontent.com/4540684/139652890-a

[2021-11-01 09:20] f-odhiambo opened #697 "CHW/ANC - Add family member crushing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2021-11-01 09:22] f-odhiambo commented on #687
Related to this https://github.com/opensrp/fhircore/issues/452

[2021-11-01 09:22] #687 closed

[2021-11-01 09:46] maimoonak commented on #689
A. Questionnaire taking long to load

B. In questionnaire-response an item of type display is saved like below:
**{"linkId":"11c83e68-a609-4324-a920-02ea78b00110"}**

This does not make sense as it should store text/code/anything else to depict meaningful info

[2021-11-01 09:56] maimoonak commented on #689
SNOMED system  = https://www.snomed.org
ICD 10 system  = https://icd10cmtool.cdc.gov/?fy=FY2022
Read system = https://bioportal.bioontology.org/ontologies/RCD

[2021-11-01 10:12] f-odhiambo commented on #689
use SNOMED system = https://www.snomed.org for now as the default reference

[2021-11-01 10:31] maimoonak commented on #689
@f-odhiambo Looks like the questionnaire is designed in a way that just replicates a paper form.

The display 'Acute ear infection' is used in [3 places ](https://fhir.labs.smartregister.org/fhir/Questionnaire/3748)which does not make sense as it should ideally be only one question with same code with a skip logic that handles it for all cases

[2021-11-01 11:03] AbdulWahabMemon commented on #661
@f-odhiambo I was writing unit test to cover different output from different ages

here are some examples of expected age of patient :
val expectedAge1 = "31y 1m"
val expectedAge2 = "21y 1w"
val expectedAge3 = "1m 5d"
val expectedAge4 = "4d"
val expectedAge5 = "1w"
val expectedAge6 = "1w 2d"
val expectedAge7 = "1m 2w 3d"
val expectedAge8 = "1y 2m 3w 4d"

would such sample ages looks fine appending

[2021-11-01 11:16] f-odhiambo commented on #661
I would prefer
#y #m
#m #d

But ill defer to the design team to comment on this CC @rowo @HenryRae

[2021-11-01 12:02] mwkhan1983 commented on #675
@f-odhiambo does this needs updation based on our last call? We discussed:
1. Indicator reporting whether for single patient or population should be accessible from Reports section only.
2. Get practitioner from synced details at app login - background task
3. On the selection screen
        a. Date-picker for periodStart & periodEnd
        b. report type - patient or population
        c. select

[2021-11-01 13:29] pld commented on #662
I understand that, the process is the same for patients as for surveys, you complete a Questionnaire and could implement this through edit in a Questionnaire based on a QuestionnaireResponse, so that both of these issues are using the same piece of code

[2021-11-01 15:56] HenryRae commented on #661
My question would be when do we want to show months, weeks or days? @f-odhiambo and @AbdulWahabMemon
Otherwise without that in question I would suggest we show

ages 10+ yrs = "#y" = 31y
ages <10 yrs = "#y #m" = 1y 2m
ages <1 yr = "#m #w" = 4m 2w
ages <1month = "#w #d" = 1w 2d
ages <1week = "#d" = 4d

@FrankApiyo @AbdulWahabMemon
cc: @rowo

[2021-11-01 18:24] pld commented on #686
Cool, agree this is directly related IF we achieve this configurability dynamically without a build config.

Otherwise, it's conceptually related, because we're here talking about multi-APK config

[2021-11-01 18:33] f-odhiambo commented on #661
Agreed let's use that approach

[2021-11-01 18:36] f-odhiambo commented on #675
@mwkhan1983 @kimigxfoxy will share updated mocks for this . Design team did a version 1 for the same . Will share on slack

[2021-11-01 19:12] pld commented on #689
This is a StructureMap only and no-code issue, correct? I think this depends on #594 and being apple to sync and link StructureMaps correctly

My understanding is that this is a nice-to-have for MSF not a req

[2021-11-02 02:57] mberg commented on #668
Please confirm way forward here. Do we have an implementation strategy or not

[2021-11-02 03:04] mberg commented on #593
This is something we also would like for LMH.  One use case is populating a form with household members.

Jing shared this. He mentioned it has been implemented.

https://github.com/google/android-fhir/issues/613

https://github.com/google/android-fhir/pull/754

[2021-11-02 07:34] f-odhiambo opened #700 "CHW/ANC - Add UI for MeasureReport filters in the Reports module in the ANC app"
**Name of feature to enhance**
As a Community health supervisor, I would like to see how a given facility is doing based on the recommended measures tracking various health Indicators in a given jurisdiction.

**Description of feature**
Add the ability to load measure reports that can be used to generate reports for either Individual ANC patients or a subset of a defined population with given char

[2021-11-02 07:37] f-odhiambo commented on #675
@mwkhan1983 Updated the ticket

[2021-11-02 07:38] f-odhiambo commented on #700
Duplicate ticket

[2021-11-02 07:38] #700 closed

[2021-11-02 07:51] mwkhan1983 commented on #675
Thanks @f-odhiambo. One suggestion is to have radio buttons instead of checkboxes for `All` and `Individual` since only one can be selected at a time.

Secondly, is Education Level something mandatory to provide? If not, we may not have data to bifurcate based on Education level.

[2021-11-02 08:37] f-odhiambo commented on #675
@mwkhan1983,
1. Rasio button noted
2. On the  details for reporting ,  disaggregation is secondary and will come later once we also get feedback from client

[2021-11-02 08:43] mwkhan1983 commented on #675
`On the details for reporting , disaggregation is secondary and will come later once we also get feedback from client` In that case, do we really need separate results screen? In case of individual patient, its just a boolean (true/false) and for a population simple ratio is to be displayed. Hence, result may be displayed on the same screen after tapping Generate Report. A loader may need to be di

[2021-11-02 09:00] f-odhiambo opened #701 "CHW/ANC - Add Family member to ANC Crashes"
**Describe the bug**
Adding a family member as an ANC Client causes the app to crash

**To Reproduce**
Steps to reproduce the behaviour:
1. Go Family profile
2. Select a family member
3. Click on menu Item to add as ANC client
4. Click save

**Expected behaviour**
1. Go Family profile
2. Select a family member
3. Click on menu Item to add as ANC client
4. Click save
5. Patient should appear in the

[2021-11-02 09:21] trevorgowing opened #702 "Optimize Quest Synchronization"
### Context

As per discussion https://github.com/opensrp/fhircore/discussions/676 initiated based on issue https://github.com/opensrp/fhircore/issues/642 the Quest App synchronization needs to be reordered.

### Blocker

There is a related discussion https://github.com/opensrp/fhircore/discussions/594 which is partially blocking this issue. The decision that needs to be made is how to filter reso

[2021-11-02 09:22] trevorgowing commented on #642
https://github.com/opensrp/fhircore/issues/702 has been logged to address this issue.

[2021-11-02 09:22] #642 closed

[2021-11-02 09:25] trevorgowing commented on #702
Duplicate of https://github.com/opensrp/fhircore/issues/668

[2021-11-02 09:25] #702 closed

[2021-11-02 09:28] f-odhiambo opened #703 "[Roadmap] FHIR Core - Quest Features"
**Legend**

:heavy_check_mark: -- Completed
:construction: -- Work in Progress
:x: -- Not Done
:books: -- Research & development
:no_entry: -- Blocked

---
**Features to implement**
1. User management
    - Authenticate users - :heavy_check_mark:

2. Sync
    - Sync Data from HAPI - :heavy_check_mark: -- Completed
    - Sync configs  :books: -- Research & development :construction: -- Work in Prog

[2021-11-02 09:29] f-odhiambo opened #704 "[Roadmap] FHIR Core - CHW/ANC Features"
**Legend**

:heavy_check_mark: -- Completed
:construction: -- Work in Progress
:x: -- Not Done
:books: -- Research & development
:no_entry: -- Blocked

---
**Features to implement**
1. User management
    - Authenticate users - :heavy_check_mark:
        - Forgot password - :x: -- Not Done
        - Log in via PIN - :x: -- Not Done

2. Sync
    - Sync Data from HAPI - :heavy_check_mark:
        -

[2021-11-02 09:30] f-odhiambo opened #705 "[Roadmap] FHIR Core - Covax Demo app Features"
**Legend**

:heavy_check_mark: -- Completed
:construction: -- Work in Progress
:x: -- Not Done
:books: -- Research & development
:no_entry: -- Blocked

---
**Features to implement**
1. User management
    - Authenticate users - :heavy_check_mark:

2. Configurability
    - Covax WHO
        - Registration Questionnaire  -:heavy_check_mark: -- Completed
        - Remove PII  - :heavy_check_mark: --

[2021-11-02 09:31] f-odhiambo opened #706 "[Roadmap] FHIR Core - mADX app Features"
**Legend**

:heavy_check_mark: -- Completed
:construction: -- Work in Progress
:x: -- Not Done
:books: -- Research & development
:no_entry: -- Blocked

---
**Features to implement**
1. User management
    - Authenticate users - :heavy_check_mark:
        - Forgot password - :x: -- Not Done
        - Log in via PIN - :x: -- Not Done

2. Sync
    - Sync Data from HAPI - :heavy_check_mark:
        -

[2021-11-02 10:57] AbdulWahabMemon commented on #661
![image](https://user-images.githubusercontent.com/66945489/139834067-5d356c66-de1f-49fe-a514-646ead98d898.png)
@f-odhiambo here is updated snap, and linked PR is ready to merge.